@font-face {
    font-family: 'supermarket';
    src: url('~/fonts/supermarket-webfont.eot');
    src: url('~/fonts/supermarket-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/supermarket-webfont.woff') format('woff'), url('fonts/supermarket-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.header-lower {
    position: relative;
    z-index: 0;
    padding: 5px 0;
}
.header-upper {
    position: relative;
    z-index: 1;
    border-bottom: 0px solid #ddd;
}
.header1{
    background-color: #202020;
}
.header2{
    background-color: #5d5c5c;
}
.header3 {
    background-color: #ffffff;
}
.header4{
    background-color: #f1f1f1;
}



