﻿@model OnePageCheckoutModel
@using Nop.Web.Models.Checkout;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddScriptParts("~/Scripts/public.accordion.js");
    Html.AddScriptParts("~/Scripts/public.onepagecheckout.js");

    var storeLocation = EngineContext.Current.Resolve<Nop.Core.IWebHelper>().GetStoreLocation();

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
@{
    //step numbers
    int billingAddressStepNumber = 1;
    int shippingAddressStepNumber = 2;
    int shippingMethodStepNumber = 3;
    int paymentMethodStepNumber = 4;
    int paymentInfoStepNumber = 5;
    int confirmOrderStepNumber = 6;
    if (!Model.ShippingRequired)
    {
        paymentMethodStepNumber = paymentMethodStepNumber - 2;
        paymentInfoStepNumber = paymentInfoStepNumber - 2;
        confirmOrderStepNumber = confirmOrderStepNumber - 2;
    }
    if (Model.DisableBillingAddressCheckoutStep)
    {
        shippingAddressStepNumber--;
        shippingMethodStepNumber--;
        paymentMethodStepNumber--;
        paymentInfoStepNumber--;
        confirmOrderStepNumber--;
    }
}
<div class="page checkout-page">
    <div class="page-title">
        <h1>@T("Checkout")</h1>
    </div>
    <div class="page-body checkout-data">
        @Html.Widget("opc_content_before")
        <ol class="opc" id="checkout-steps">
            <li id="opc-billing" class="tab-section allow">
                <div class="step-title">
                    <span class="number">@billingAddressStepNumber</span>
                    <h2 class="title">@T("Checkout.BillingAddress")</h2>
                </div>
                <div id="checkout-step-billing" class="step a-item" style="display: none;">
                    <form id="co-billing-form" action="">
                        <div id="checkout-billing-load">
                            @Html.Action("OpcBillingForm", "Checkout")
                            @*billing address content will be loaded here*@
                        </div>
                    </form>
                    <script type="text/javascript">
                        Billing.init('#co-billing-form', '@(storeLocation)checkout/OpcSaveBilling/', @(Model.DisableBillingAddressCheckoutStep.ToString().ToLowerInvariant()));
                        if ($("#billing-address-select").length > 0) {
                            Billing.newAddress(!$('#billing-address-select').val());
                        }
                    </script>
                    <div class="buttons" id="billing-buttons-container">
                        <input type="button" title="@T("Common.Continue")" class="button-1 new-address-next-step-button" onclick="Billing.save()" value="@T("Common.Continue")" />
                        <span class="please-wait" id="billing-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                    </div>
                </div>
            </li>
            @if (Model.ShippingRequired) 
            {
                <li id="opc-shipping" class="tab-section">
                    <div class="step-title">
                        <span class="number">@shippingAddressStepNumber</span>
                        <h2 class="title">@T("Checkout.ShippingAddress")</h2>
                    </div>
                    <div id="checkout-step-shipping" class="step a-item" style="display: none;">
                        <form action="" id="co-shipping-form">
                            <div id="checkout-shipping-load">
                                @*shipping address content will be loaded here*@
                            </div>
                        </form>
                        <script type="text/javascript">
                            Shipping.init('#co-shipping-form', '@(storeLocation)checkout/OpcSaveShipping/');
                            if ($("#shipping-address-select").length > 0) {
                                Shipping.newAddress(!$('#shipping-address-select').val());
                            }
                        </script>
                        <div class="buttons" id="shipping-buttons-container">
                            @if (!Model.DisableBillingAddressCheckoutStep)
                            {
                                <p class="back-link">
                                    <a href="#" onclick="Checkout.back(); return false; "><small>&laquo; </small>@T("Common.Back")</a>
                                </p>
                            }
                            <input type="button" class="button-1 new-address-next-step-button" title="@T("Common.Continue")" onclick="Shipping.save()" value="@T("Common.Continue")" />
                            <span id="shipping-please-wait" class="please-wait" style="display: none;"> @T("Common.LoadingNextStep")</span>
                        </div>
                    </div>
                </li>
                <li id="opc-shipping_method" class="tab-section">
                    <div class="step-title">
                        <span class="number">@shippingMethodStepNumber</span>
                        <h2 class="title">@T("Checkout.ShippingMethod")</h2>
                    </div>
                    <div id="checkout-step-shipping-method" class="step a-item" style="display: none;">
                        <form id="co-shipping-method-form" action="">
                            <div id="checkout-shipping-method-load">
                                @*shipping methods content will be loaded here*@
                            </div>
                            <script type="text/javascript">
                                ShippingMethod.init('#co-shipping-method-form', '@(storeLocation)checkout/OpcSaveShippingMethod/');
                            </script>
                            <div class="buttons" id="shipping-method-buttons-container">
                                <p class="back-link">
                                    <a href="#" onclick="Checkout.back(); return false;"><small>&laquo; </small>@T("Common.Back")</a></p>
                                <input type="button" class="button-1 shipping-method-next-step-button" onclick="ShippingMethod.save()" value="@T("Common.Continue")" />
                                <span id="shipping-method-please-wait" class="please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                            </div>
                        </form>
                    </div>
                </li>
            }
            <li id="opc-payment_method" class="tab-section">
                <div class="step-title">
                    <span class="number">@paymentMethodStepNumber</span>
                    <h2 class="title">@T("Checkout.PaymentMethod")</h2>
                </div>
                <div id="checkout-step-payment-method" class="step a-item" style="display: none;">
                    <form action="" id="co-payment-method-form">
                        <div id="checkout-payment-method-load">
                            @*payment methods content will be loaded here*@ Payment is not required
                        </div>
                    </form>
                    <script type="text/javascript">
                        PaymentMethod.init('#co-payment-method-form', '@(storeLocation)checkout/OpcSavePaymentMethod/');
                    </script>
                    <div class="buttons" id="payment-method-buttons-container">
                        <p class="back-link">
                            <a href="#" onclick="Checkout.back(); return false;"><small>&laquo; </small>@T("Common.Back")</a></p>
                        <input type="button" class="button-1 payment-method-next-step-button" onclick="PaymentMethod.save()" value="@T("Common.Continue")" />
                        <span class="please-wait" id="payment-method-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                    </div>
                </div>
            </li>
            <li id="opc-payment_info" class="tab-section">
                <div class="step-title">
                    <span class="number">@paymentInfoStepNumber</span>
                    <h2 class="title">@T("Checkout.PaymentInfo")</h2>
                </div>
                <div id="checkout-step-payment-info" class="step a-item" style="display: none;">
                    <form action="" id="co-payment-info-form">
                        <div id="checkout-payment-info-load">
                            @*payment info content will be loaded here*@ Payment is not required
                        </div>
                    </form>
                    <script type="text/javascript">
                        PaymentInfo.init('#co-payment-info-form', '@(storeLocation)checkout/OpcSavePaymentInfo/');
                    </script>
                    <div class="buttons" id="payment-info-buttons-container">
                        <p class="back-link">
                            <a href="#" onclick="Checkout.back(); return false;"><small>&laquo; </small>@T("Common.Back")</a></p>
                        <input type="button" class="button-1 payment-info-next-step-button" onclick="PaymentInfo.save()" value="@T("Common.Continue")" />
                        <span class="please-wait" id="payment-info-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                    </div>
                </div>
            </li>
            <li id="opc-confirm_order" class="tab-section">
                <div class="step-title">
                    <span class="number">@confirmOrderStepNumber</span>
                    <h2 class="title">@T("Checkout.ConfirmOrder")</h2>
                </div>
                <div id="checkout-step-confirm-order" class="step a-item" style="display: none;">
                    <div id="checkout-confirm-order-load">
                        @*confirm order content will be loaded here*@
                    </div>
                    <script type="text/javascript">
                        ConfirmOrder.init('@(storeLocation)checkout/OpcConfirmOrder/', '@(storeLocation)checkout/completed/');
                    </script>
                    <div class="buttons" id="confirm-order-buttons-container">
                        <p class="back-link">
                            <a href="#" onclick="Checkout.back(); return false;"><small>&laquo; </small>@T("Common.Back")</a></p>
                        <input type="button" class="button-1 confirm-order-next-step-button" onclick="ConfirmOrder.save()" value="@T("Common.Confirm")" />
                        <span class="please-wait" id="confirm-order-please-wait" style="display: none;">@T("Checkout.SubmittingOrder")</span>
                    </div>
                </div>
            </li>
        </ol>

  <div class="box">
        <h1 style="text-align:center;">วิธีชำระผ่านบัญชีธนาคาร</h1>
        <img style="width:100%;" src="images/a.png" />
        <div style="clear:both"></div>
        <div class="box2">
            <div class="box-subject">
                <div class="head">
                    <img style="width:100%;" src="images/no1.png" />
                </div>
                <div class="head2">
                    <div class="s1">
                        จัดเตรียมเลขที่บัญชีสำหรับโอน
                    </div>
                    <div class="s2">ท่านสามารถเลือกชำระได้ทุกธนาคาร ทั่วประเทศ ณ สาขาใกล้บ้านท่าน”</div>
                </div>

            </div>
            <div class="box-left"><div class="s1" style="text-align: center; color:#637685;">
    “ชำระผ่านบัญชีธนาคาร ท่านสามารถชำระได้ที่ ชื่อบัญชี “ปันนะ”

</div><ul style="margin-left:20%; line-height: 2;">
    <li style="text-align: left; padding: 0px;">ธนาคารไทยพาณิชย์ สาขา ลาดพร้าว เลขที่ xxx-xxxxxx-x</li>
    <li style="text-align: left; padding: 0px;">
        ธนาคารไทยพาณิชย์ สาขา ลาดพร้าว เลขที่ xxx-xxxxxx-x
    </li>
    <li style="text-align: left; padding: 0px;">
        ธนาคารไทยพาณิชย์ สาขา ลาดพร้าว เลขที่ xxx-xxxxxx-x
    </li>
    <li style="text-align: left; padding: 0px;">
        ธนาคารไทยพาณิชย์ สาขา ลาดพร้าว เลขที่ xxx-xxxxxx-x
    </li>
    <li style="text-align: left; padding: 0px;">
        ธนาคารไทยพาณิชย์ สาขา ลาดพร้าว เลขที่ xxx-xxxxxx-x
    </li>
</ul></div>
            <div class="box-right"><img style="width:100%;" src="images/bank.png" /></div>
            <div style="clear:both"></div>
        </div>
        <div style="clear:both"></div>
        <div class="box2">
            <div class="box-subject">
                <div class="head">
                    <img style="width:100%;" src="images/no2.png" />
                </div>
                <div class="head2">
                    <div class="s1">
                        ดำเนินการโอนเงินโดยผ่าน
                    </div>
                    <div class="s2">ตู้ ATM / Mobile Banking /เค้าเตอร์ธนาคาร</div>
                </div>

            </div>
            <div class="box-left"><div class="s1" style="text-align: left; margin-left:20%; color:#637685;">
    “ลูกค้าสามารถชำระค่าดอกไม้ได้ 3 ช่องทาง ดังนี้”
</div><ul style="margin-left:20%; line-height: 2;">
    <li style="text-align: left; padding: 0px;">ชำระผ่านเครื่อง ATM ของทุกธนาคารใกล้บ้านท่านตลอด 24 ชั่วโมง</li>
    <li style="text-align: left; padding: 0px;">
        ชำระผ่านเคาน์เตอร์ธนาคารได้ทั่วประเทศ ณ สาขาใกล้บ้านท่าน
    </li>
    <li style="text-align: left; padding: 0px;">
        ชำระเงินออนไลน์ (Mobile Banking)
    </li>
</ul></div>
            <div style="clear:both"></div>
        </div>
        <div style="clear:both"></div>
        <div class="box2">
            <div class="box-subject">
                <div class="head">
                    <img style="width:100%;" src="images/no3.png" />
                </div>
                <div class="head2">
                    <div class="s1">
                        โทรแจ้งรายละเอียดการโอนเงิน
                    </div>
                    <div class="s2">ได้ที่เบอร์ 02-938-1443 (8.00 - 23.00 ทุกวัน)</div>
                </div>

            </div>
            <div class="box-left">
                <div class="s1" style="text-align: left; margin-left:20%; color:#637685;">
                    “แจ้งยืนยันการชำระเงิน”
                </div><p style="margin-left:20%; line-height: 2; text-align:left;">
                          หากชำระเงินเรียบร้อยแล้ว กรุณาโทรแจ้งรายละเอียดการโอนเงิน <br />
                          ได้ที่เบอร์<span class="s1">  "02-938-1443"  (8.00 - 23.00 ทุกวัน)</span>
                          <br />จากนั้นทางร้านจะดำเนินการจัดส่งพวงหรีดตามข้อมูลที่ลูกค้าแจ้งค่ะ
                </p>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>







  <div class="box">
        <h1 style="text-align:center;">วิธีชำระผ่านบัญชีธนาคาร</h1>
        <img style="width:100%;" src="images/b.png" />
        <div style="clear:both"></div>
        <div class="box2">
            <div class="box-subject">
                <div class="head">
                    <img style="width:100%;" src="images/no4.png" />
                </div>
                <div class="head2">
                    <div class="s1">
                        วิธีชำระผ่านบัตรเครดิต
                    </div>
                    <div class="s2">หากท่านเลือกแล้วให้กดขั้นตอนต่อไปเพื่อชำระเงิน</div>
                </div>

            </div>
            <div class="box-center"><div class="s1" style="text-align: center; color:#637685;">
    “หากต้องการชำระด้วยบัตรเครดิต  ให้เลือก “ชำระเงินผ่านบัตรเครดิต” จากนั้นกดปุ่ม “ขั้นตอนต่อไป” ”<br />

                        <div class="button-1 new-address-next-step-button" style="pointer-events: none;">ขั้นต่อไป</div>

</div></div>
            <div style="clear:both"></div>
        </div>
        <div style="clear:both"></div>
        <div class="box2">
            <div class="box-subject">
                <div class="head">
                    <img style="width:100%;" src="images/no5.png" />
                </div>
                <div class="head2">
                    <div class="s1">
                        ทำการเชื่อมต่อกับระบบของธนาคาร
                    </div>
                    <div class="s2">ระบบจะพาท่านไปที่หน้าต่างการชำระเงินของธนาคารที่่ท่านเลือก</div>
                </div>

            </div>
            <div class="box-center">
                <div class="s1" style="text-align: center; color:#637685;">
                    “ระบบจะพาท่านไปที่หน้าต่างการชำระเงินของ ธนาคารที่ท่าเลือกชำระเงิน <br />ท่านสามารถชำระเงินผ่านบัตรเครดิตโดยกรอกรายละเอียดตามที่ธนาคารกำหนด”<br /><br />
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
        <div style="clear:both"></div>
        <div class="box2">
            <div class="box-subject">
                <div class="head">
                    <img style="width:100%;" src="images/no6.png" />
                </div>
                <div class="head2">
                    <div class="s1">
                        ระบบแจ้งยืนยันการสั่งสินค้า
                    </div>
                    <div class="s2">ลูกค้าจะได้รับ หมายเลขคำสั่งซื้อ ใช้สำหรับเช็คสถานะของสินค้า</div>
                </div>

            </div>
            <div class="box-center">
                <div class="s1" style="text-align: center; color:#637685;">
                    “หากชำระเงินเรียบร้อยแล้ว ระบบจะแจ้งยืนยันการสั่งสินค้าพร้อมเลขที่คำสั่งซื้อ<br />  ลูกค้าสามารถใช้เช็คสถานะการจัดส่งสินค้าได้ค่ะ”<br /><br />
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>








        @Html.Widget("opc_content_after")
    </div>
    <script type="text/javascript">
        Accordion.init('checkout-steps', '.step-title', true);
        Accordion.openSection('#opc-billing');
        Checkout.init('@(storeLocation)cart/');
        if (Billing.disableBillingAddressCheckoutStep)
        {
            Accordion.hideSection('#opc-billing');
            Billing.save();
        }
    </script>
</div>
