/*--------------------------------------------------------------
Reset
--------------------------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
figure {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
html {
  overflow-y: scroll;
  /* Keeps page centered in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
*,
*:before,
*:after {
  /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
  -webkit-box-sizing: border-box;
  /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
  -moz-box-sizing: border-box;
  /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}
table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 20px;
}
dl {
  margin-bottom: 20px;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
  padding: 10px 0;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  position: relative;
  padding-left: 60px;
  margin-right: 0;
  margin-left: 30px;
  quotes: "" "";
}
blockquote:before,
q:before {
  content: "\f10d";
  font-family: "FontAwesome";
  font-size: 30px;
  display: inline-block;
  float: left;
  margin: 0px 30px 0 5px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -10px;
}
a:focus {
  outline: none;
}
a:hover,
a:active {
  outline: 0;
}
a img {
  border: 0;
}
@media screen and (min-width: 38.75em) {
  ul,
  ol {
    margin-left: 0;
  }
  li > ul,
  li > ol,
  blockquote > ul,
  blockquote > ol {
    margin-left: 1.3333em;
  }
}
.entry-content,
.entry-summary,
.page-content,
.comment-content {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}
/*--------------------------------------------
Initial Setup
----------------------------------------------*/
a {
  text-decoration: none;
}
input:focus,
textarea:focus {
  outline: none;
}
img,
video,
figure {
  max-width: 100%;
  vertical-align: top;
  height: auto;
}
audio,
canvas,
video {
  display: inline;
  zoom: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2308em;
}
ul {
  margin-bottom: 1.5em;
}
ul li {
  line-height: 1.8em;
}
body {
  line-height: 1.6em;
}
p {
  margin-bottom: 1.5em;
}
dt {
  font-weight: bold;
}
cite,
em {
  font-style: italic;
}
code,
tt,
var {
  font-family: sans-serif;
}
mark,
ins {
  background-color: #f5f5f5;
  text-decoration: none;
}
[class*="col-"] {
  width: 100%;
  vertical-align: top;
  padding: 0 15px;
}
.top {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.middle {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.bottom {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.start {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start;
}
.center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.end {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
}
.around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.between {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.first {
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}
.last {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}
@media (max-width: 47.9375rem) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 48rem) and (max-width: 61.9375rem) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 62rem) and (max-width: 74.9375rem) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 75rem) {
  .hidden-lg {
    display: none !important;
  }
}
.container {
  max-width: 21.875rem;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
.row {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
}
.row.reverse {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.col.reverse {
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
}
.col-xs {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}
.col-xs-1 {
  -webkit-flex-basis: 8.333%;
  -ms-flex-preferred-size: 8.333%;
  flex-basis: 8.333%;
  max-width: 8.333%;
}
.col-xs-2 {
  -webkit-flex-basis: 16.667%;
  -ms-flex-preferred-size: 16.667%;
  flex-basis: 16.667%;
  max-width: 16.667%;
}
.col-xs-3 {
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}
.col-xs-4 {
  -webkit-flex-basis: 33.333%;
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;
  max-width: 33.333%;
}
.col-xs-5 {
  -webkit-flex-basis: 41.667%;
  -ms-flex-preferred-size: 41.667%;
  flex-basis: 41.667%;
  max-width: 41.667%;
}
.col-xs-6 {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}
.col-xs-7 {
  -webkit-flex-basis: 58.333%;
  -ms-flex-preferred-size: 58.333%;
  flex-basis: 58.333%;
  max-width: 58.333%;
}
.col-xs-8 {
  -webkit-flex-basis: 66.667%;
  -ms-flex-preferred-size: 66.667%;
  flex-basis: 66.667%;
  max-width: 66.667%;
}
.col-xs-9 {
  -webkit-flex-basis: 75%;
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}
.col-xs-10 {
  -webkit-flex-basis: 83.333%;
  -ms-flex-preferred-size: 83.333%;
  flex-basis: 83.333%;
  max-width: 83.333%;
}
.col-xs-11 {
  -webkit-flex-basis: 91.667%;
  -ms-flex-preferred-size: 91.667%;
  flex-basis: 91.667%;
  max-width: 91.667%;
}
.col-xs-12 {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}
.col-xs-offset-1 {
  margin-left: 8.333%;
}
.col-xs-offset-2 {
  margin-left: 16.667%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-4 {
  margin-left: 33.333%;
}
.col-xs-offset-5 {
  margin-left: 41.667%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-7 {
  margin-left: 58.333%;
}
.col-xs-offset-8 {
  margin-left: 66.667%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-10 {
  margin-left: 83.333%;
}
.col-xs-offset-11 {
  margin-left: 91.667%;
}
.start-xs {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start;
}
.center-xs {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.end-xs {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
}
.top-xs {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.middle-xs {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.bottom-xs {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.around-xs {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.between-xs {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.first-xs {
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}
.last-xs {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}
@media only screen and (min-width: 48rem) {
  .container {
    max-width: 46.875rem;
  }
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-offset-1,
  .col-sm-offset-2,
  .col-sm-offset-3,
  .col-sm-offset-4,
  .col-sm-offset-5,
  .col-sm-offset-6,
  .col-sm-offset-7,
  .col-sm-offset-8,
  .col-sm-offset-9,
  .col-sm-offset-10,
  .col-sm-offset-11,
  .col-sm-offset-12 {
    box-sizing: border-box;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
  .col-sm {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-sm-1 {
    -webkit-flex-basis: 8.333%;
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }
  .col-sm-2 {
    -webkit-flex-basis: 16.667%;
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }
  .col-sm-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -webkit-flex-basis: 33.333%;
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
  .col-sm-5 {
    -webkit-flex-basis: 41.667%;
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }
  .col-sm-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -webkit-flex-basis: 58.333%;
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }
  .col-sm-8 {
    -webkit-flex-basis: 66.667%;
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }
  .col-sm-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -webkit-flex-basis: 83.333%;
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }
  .col-sm-11 {
    -webkit-flex-basis: 91.667%;
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }
  .col-sm-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-sm-offset-1 {
    margin-left: 8.333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.667%;
  }
  .start-sm {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-sm {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-sm {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-sm {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .middle-sm {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .bottom-sm {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .around-sm {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-sm {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .first-sm {
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .last-sm {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media only screen and (min-width: 62rem) {
  .container {
    max-width: 60.625rem;
  }
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-offset-1,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9,
  .col-md-offset-10,
  .col-md-offset-11,
  .col-md-offset-12 {
    box-sizing: border-box;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
  .col-md {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-md-1 {
    -webkit-flex-basis: 8.333%;
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }
  .col-md-2 {
    -webkit-flex-basis: 16.667%;
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }
  .col-md-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -webkit-flex-basis: 33.333%;
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
  .col-md-5 {
    -webkit-flex-basis: 41.667%;
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }
  .col-md-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -webkit-flex-basis: 58.333%;
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }
  .col-md-8 {
    -webkit-flex-basis: 66.667%;
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }
  .col-md-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -webkit-flex-basis: 83.333%;
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }
  .col-md-11 {
    -webkit-flex-basis: 91.667%;
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }
  .col-md-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-md-offset-1 {
    margin-left: 8.333%;
  }
  .col-md-offset-2 {
    margin-left: 16.667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.333%;
  }
  .col-md-offset-5 {
    margin-left: 41.667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.333%;
  }
  .col-md-offset-8 {
    margin-left: 66.667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.333%;
  }
  .col-md-offset-11 {
    margin-left: 91.667%;
  }
  .start-md {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-md {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-md {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-md {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .middle-md {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .bottom-md {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .around-md {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-md {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .first-md {
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .last-md {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media only screen and (min-width: 75rem) {
  .container {
    max-width: 73.125rem;
  }
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-offset-1,
  .col-lg-offset-2,
  .col-lg-offset-3,
  .col-lg-offset-4,
  .col-lg-offset-5,
  .col-lg-offset-6,
  .col-lg-offset-7,
  .col-lg-offset-8,
  .col-lg-offset-9,
  .col-lg-offset-10,
  .col-lg-offset-11,
  .col-lg-offset-12 {
    box-sizing: border-box;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
  .col-lg {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-lg-1 {
    -webkit-flex-basis: 8.333%;
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }
  .col-lg-2 {
    -webkit-flex-basis: 16.667%;
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }
  .col-lg-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -webkit-flex-basis: 33.333%;
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
  .col-lg-5 {
    -webkit-flex-basis: 41.667%;
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }
  .col-lg-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -webkit-flex-basis: 58.333%;
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }
  .col-lg-8 {
    -webkit-flex-basis: 66.667%;
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }
  .col-lg-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -webkit-flex-basis: 83.333%;
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }
  .col-lg-11 {
    -webkit-flex-basis: 91.667%;
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }
  .col-lg-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-lg-offset-1 {
    margin-left: 8.333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.667%;
  }
  .start-lg {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-lg {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-lg {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-lg {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .middle-lg {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .bottom-lg {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .around-lg {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-lg {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .first-lg {
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .last-lg {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}
/*--------------------------------------------
Combo CSS
----------------------------------------------*/
.clr:before,
.clr:after,
.mini-cart .widget_shopping_cart_content .cart_list li:before,
.mini-cart .widget_shopping_cart_content .cart_list li:after,
.single-post .comment > div:before,
.single-post .comment > div:after,
.page .comment > div:before,
.page .comment > div:after,
.recent-posts__item:before,
.recent-posts__item:after,
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header:before,
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header:after {
  content: " ";
  display: table;
}
.clr:after,
.mini-cart .widget_shopping_cart_content .cart_list li:after,
.single-post .comment > div:after,
.page .comment > div:after,
.recent-posts__item:after,
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header:after {
  clear: both;
}
.icf,
.quote:before,
.quote2:before,
.quote3 .wpb_column:first-child:before,
.site-footer .menu li a:before,
.top-menu .menu-item a:after,
.social-menu .menu li a:before,
.mini-cart .mini-cart__button .mini-cart-icon:before,
ul.style1 li:before,
.tm_bread_crumb li a:after,
.wpb_accordion .wpb_accordion_wrapper .ui-state-default .ui-icon:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
.tran,
a,
.search-box i,
.search-box i:before,
.search-box i:after,
.search-box input[type="search"],
.search-box .search-form,
.site-footer .social-menu .menu li a:before,
.site-footer .menu li,
#site-navigation .sub-menu,
#site-navigation .children,
.sidebar .better-menu-widget li,
.wpb_widgetised_column .better-menu-widget li,
.sidebar .better-menu-widget li:before,
.wpb_widgetised_column .better-menu-widget li:before,
.sidebar .better-menu-widget li:after,
.wpb_widgetised_column .better-menu-widget li:after,
.mini-cart .mini-cart__button,
.categories-links a:after,
.hentry .share a i,
.single-post .comment .comment-reply-link:after,
.page .comment .comment-reply-link:after,
.tm_bread_crumb:before,
body select,
body textarea,
body input,
button,
.btn,
input[type="button"],
input[type="reset"],
input[type="submit"],
button:after,
.btn:after,
input[type="button"]:after,
input[type="reset"]:after,
input[type="submit"]:after,
.recent-posts__item .recent-posts__thumb:before,
.recent-posts__item .recent-posts__thumb:after,
.recent-posts__item .recent-posts__thumb a:before,
.wpb_accordion .wpb_accordion_wrapper .ui-state-default .ui-icon:before,
.contain-gallery .esg-filters .esg-filter-wrapper .esg-filterbutton,
.link:after {
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/*--------------------------------------------------------------
Common
--------------------------------------------------------------*/
.boxed {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}
.site {
  background-color: #fff;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.site-content {
  max-width: 1170px;
  margin: auto;
}
.gray {
  color: #858585;
}
.row:before,
.container:before,
.row:after,
.container:after {
  display: none !important;
}
.full-width,
.full-width .container {
  width: 100% !important;
  max-width: 100%;
}
.services1 > .vc_col-sm-6 {
  margin-bottom: 20px;
}
.services1 > .vc_col-sm-6 > .wpb_wrapper {
  position: relative;
}
.services1 > .vc_col-sm-6 > .wpb_wrapper:before {
  content: '';
  display: block !important;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  position: absolute;
  border: 1px solid #dddddd;
}
.services2 .wpb_column {
  position: relative;
  z-index: 1;
}
.services2:before {
  content: '' !important;
  display: block !important;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  opacity: .9;
}
.latest {
  position: relative;
}
.latest:before {
  content: '' !important;
  display: block !important;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: .9;
}
.request .wpb_column:nth-child(2) .wpb_wrapper:after {
  content: '';
  position: absolute;
  right: -800px;
  width: 800px;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: .95;
}
.request .wpb_column:nth-child(2):before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 300px 700px 0;
  border-color: transparent transparent transparent transparent;
  position: absolute;
  left: -300px;
  opacity: .95;
}
.request .wpb_column:nth-child(2):after {
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: .95;
}
.get-quote {
  overflow: hidden;
}
.get-quote .wpb_column:nth-child(1) .wpb_wrapper {
  position: relative;
  z-index: 1;
}
.home__about-us .wpb_column:nth-child(1) .wpb_wrapper:after {
  content: '';
  position: absolute;
  left: -800px;
  width: 800px;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: .95;
}
.home__about-us .wpb_column:nth-child(1):after {
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: .95;
}
.home__about-us-2 .wpb_column:nth-child(1) .wpb_wrapper:after {
  content: '';
  position: absolute;
  left: -800px;
  width: 800px;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-color: #fff;
}
.home__about-us-2 .wpb_column:nth-child(1):after {
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  right: 25px;
  z-index: -1;
  background-color: #fff;
}
.quote:before {
  content: "\f10d" !important;
  font-size: 30px;
  position: absolute;
  bottom: 40px;
  right: 10px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #999;
}
.quote2,
.quote3 .wpb_column:first-child {
  position: relative;
}
.quote2:before,
.quote3 .wpb_column:first-child:before {
  content: "\f10d" !important;
  font-size: 30px;
  position: absolute;
  top: -1px;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #fff;
  color: #999;
}
.quote2:after,
.quote3 .wpb_column:first-child:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 60px 30px 0 0;
  border-color: #FFFFFF transparent transparent transparent;
  position: absolute;
  top: -1px;
  left: 60px;
}
.quote3 .vc_custom_heading h2 {
  font-weight: normal;
}
.quote3 .vc_custom_heading.style3:before {
  margin-top: -11px;
}
.quote3 .vc_custom_heading.style3 h2 {
  font-size: 16px;
  text-transform: none;
  font-weight: normal;
}
.quote3 .sub {
  font-style: italic;
}
.pricing.style1 .wpb_column:nth-child(1),
.pricing.style1 .wpb_column:nth-child(3) {
  margin-top: 50px;
}
.pricing.style1 .wpb_column > .wpb_wrapper {
  border: 1px solid #dddddd;
  text-align: center;
  padding-bottom: 40px;
}
.pricing.style1 .wpb_column:nth-child(2) .vc_custom_heading:nth-child(1) {
  padding-top: 70px;
}
.pricing.style1 .wpb_column:nth-child(2) .vc_custom_heading:nth-child(3) {
  padding-bottom: 80px;
}
.pricing.style1 .wpb_text_column {
  text-align: center;
}
.pricing.style1 .wpb_text_column li {
  list-style: none;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dddddd;
  color: #868686;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.pricing.style1 .wpb_text_column li:before {
  display: none;
}
.pricing.style1 .wpb_text_column ul li:last-child {
  border: none;
}
.pricing.style1 .wpb_wrapper .vc_custom_heading:nth-child(1) {
  padding-top: 30px;
}
.pricing.style1 .wpb_wrapper .vc_custom_heading:nth-child(3) {
  padding-bottom: 40px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 30%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 30%);
}
.pricing.style1 .wpb_wrapper > div:first-child h4 {
  font-weight: normal;
  letter-spacing: .4em;
}
.pricing.style2 .wpb_wrapper {
  background-color: #EEEEEE;
}
@media (min-width: 62rem) {
  .get-quote .wpb_column:nth-child(1):before {
    content: '';
    background-color: #aaaaaa;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    left: -900px;
  }
  .get-quote .wpb_column:nth-child(1):after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 230px 0 0 100px;
    border-color: transparent transparent transparent #aaaaaa;
    position: absolute;
    top: 0;
    right: -100px;
  }
  .get-quote .btn {
    margin-top: 50px;
  }
  .home__about-us .wpb_column:nth-child(1):before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 600px 0 0 300px;
    border-color: transparent transparent transparent transparent;
    position: absolute;
    right: -300px;
    opacity: .95;
  }
  .home__about-us-2 .wpb_column:nth-child(1):before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 600px 0 0 300px;
    border-color: transparent transparent transparent #ffffff;
    position: absolute;
    right: -275px;
  }
}
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}
.gallery-item {
  display: inline-block;
  padding: 1.79104477%;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}
@media (min-width: 75rem) {
  .services1 .vc_inner {
    overflow: hidden;
  }
  .services1 .vc_inner:hover .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-color-blue .vc_icon_element-icon {
    color: #FFFFFF;
  }
  .services1 .vc_inner .vc_col-sm-9 .wpb_wrapper {
    padding-left: 30px;
  }
  .services1 .vc_inner .vc_col-sm-3 {
    position: relative;
  }
  .services1 .vc_inner .vc_col-sm-3 .wpb_wrapper {
    padding: 30px 0 30px 20px;
    text-align: center;
    background-color: #EEEEEE;
  }
  .services1 .vc_inner .vc_col-sm-3 .wpb_wrapper:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 130px 0 0 50px;
    border-color: transparent transparent transparent #EEEEEE;
    position: absolute;
    top: 0;
    right: -35px;
  }
}
@media (max-width: 74.9375rem) {
  .services1 .vc_custom_heading p,
  .services1 .vc_custom_heading h3 {
    text-align: center !important;
  }
}
@media (max-width: 47.9375rem) {
  #content > .container .entry-content,
  #content > .container > .container {
    max-width: 21.875rem;
    margin-left: auto;
    margin-right: auto;
  }
  #content > .container .entry-content .vc_row,
  #content > .container > .container .vc_row {
    margin-left: 0;
    margin-right: 0;
  }
  .entry-content .entry-footer .col-xs-6.end {
    padding-right: 20px;
  }
  .row {
    margin-right: 0;
    margin-left: 0;
  }
  .row,
  .row [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
}
.scrollup {
  display: block;
  cursor: pointer;
  z-index: 2;
  position: fixed;
  right: 30px;
  bottom: -50px;
  padding: 5px 10px;
  font-size: 0;
  border: 2px solid;
  font-size: 20px;
  opacity: 0.8;
}
.scrollup.show {
  bottom: 70px;
}
/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
#site-navigation {
  text-align: right;
}
@media (min-width: 62rem) and (min-width: 48rem) {
  .admin-bar .site-header.headroom--not-top {
    top: 32px;
  }
}
@media (min-width: 62rem) and (min-width: 62rem) {
  .admin-bar .site-header.headroom--not-top {
    top: 32px;
  }
}
@media (min-width: 62rem) and (max-width: 47.9375rem) {
  .admin-bar .site-header.headroom--not-top {
    top: 0px;
  }
}
.site-header {
  position: relative;
  z-index: 99;
}
@media (max-width: 74.9375rem) {
  .site-header {
    padding-left: 20px;
    padding-right: 20px;
  }
  .site-header > .row {
    margin-left: 0;
    margin-right: 0;
  }
  .site-header .site-branding {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (max-width: 100rem) {
  .site-header .row {
    max-width: 1170px;
    margin: 0 auto;
  }
  .site-header .row .site-branding {
    padding-left: 0;
  }
  .site-header .row div.col-md-10:last-child {
    padding-right: 0;
  }
}
@media (min-width: 62rem) {
  .site-header.headroom--not-top {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .site-header.headroom--not-top .menu > li {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
  .site-header.headroom--not-top .search-box .search-form {
    top: 47px;
  }
}
@media (min-width: 62rem) and (min-width: 62rem) {
  .site-header.headroom--not-top .site-branding {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.site-branding {
  position: relative;
  z-index: 1;
  padding: 8px;
}
@media (min-width: 62rem) {
  .site-branding {
    padding: 20px 15px;
  }
}
.extra-info > div {
  padding: 10px 15px;
  text-align: left;
}
.extra-info i {
  display: inline-block;
  font-size: 30px;
  margin-bottom: 20px;
  float: left;
  margin-right: 15px;
}
.extra-info span {
  font-weight: 600;
  color: #777;
}
.extra-info h3 {
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: normal;
  font-weight: normal;
}
.search-box {
  position: relative;
  z-index: 9999;
  margin-left: 10px;
}
.search-box i {
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  height: 20px;
  width: 20px;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.search-box i:before,
.search-box i:after {
  position: absolute;
}
.search-box i:before {
  top: 0;
  left: 0;
}
.search-box i:after {
  content: "\e680";
  top: 100%;
  left: 0;
}
.search-box label span,
.search-box input[type="submit"] {
  display: none;
}
.search-box input[type="search"] {
  position: absolute;
  width: 100%;
  z-index: 99;
  border: none;
  padding: 10px;
  background-color: #fff;
  border-top: 3px solid transparent;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}
.search-box .search-form {
  position: absolute;
  right: 0px;
  top: 60px;
  border-top: 2px solid #111111;
  width: 300px;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}
.search-box .search-form:before {
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.search-box .search-form.open {
  opacity: 1;
  visibility: visible;
}
.search-box .search-form.open + i:before {
  top: -100%;
}
.search-box .search-form.open + i:after {
  top: 0;
}
@media (min-width: 48rem) {
  body {
    color: #000;
  }
}
/*--------------------------------------------
Footer
----------------------------------------------*/
@media (min-width: 62rem) {
  .admin-bar .site-footer {
    bottom: 32px;
  }
}
@media (max-width: 74.9375rem) {
  .admin-bar .site-footer {
    bottom: 46px;
  }
}
@media (max-width: 74.9375rem) {
  .admin-bar .site-footer {
    bottom: 0px;
  }
}
@media (min-width: 75rem) {
  .admin-bar .site-footer {
    bottom: 0px;
  }
}
.site-footer {
  position: relative;
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 20px;
}
.site-footer .widget-title {
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: .05em;
}
.site-footer .widget-title:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.site-footer .widget-title span {
  position: relative;
  display: inline-block;
  padding: 10px 10px 10px 20px;
}
.site-footer .widget-title span:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 0 0 50px;
  border-color: transparent transparent transparent transparent;
  position: absolute;
  top: 0;
  right: -50px;
}
.site-footer .col-md-4 {
  margin-bottom: 30px;
}
.site-footer .widget img {
  margin: -15px 0 20px;
}
.site-footer .social-menu .menu li {
  margin: 0 15px 0 0;
}
.site-footer .social-menu .menu li a:before {
  font-size: 20px;
}
.site-footer .social-menu .menu li a:hover:before {
  color: #111111;
}
.site-footer .social-menu .menu li:last-child {
  margin: 0;
}
.site-footer .menu {
  font-size: 0;
}
.site-footer .menu li {
  vertical-align: top;
  margin-bottom: 10px;
  list-style-type: none;
  font-size: 14px;
  display: block;
}
.site-footer .menu li:hover {
  -webkit-transform: translate(10px, 0);
  -moz-transform: translate(10px, 0);
  -ms-transform: translate(10px, 0);
  -o-transform: translate(10px, 0);
}
.site-footer .menu li a:before {
  font-size: 16px;
  content: "\f101";
  color: #aaaaaa;
}
.office p {
  margin-bottom: 10px;
}
.office i {
  font-size: 16px;
  width: 35px;
}
.copyright {
  overflow: hidden;
  line-height: 1;
}
.copyright-text {
  padding-bottom: 25px;
  letter-spacing: 0.1em;
}
@media (min-width: 62rem) {
  .site-footer .menu li {
    display: inline-block;
    width: 50%;
  }
}
.footer-small .site-footer {
  padding-top: 20px;
  padding-bottom: 20px;
}
/*--------------------------------------------
Navigation
----------------------------------------------*/
.top-menu {
  position: relative;
  z-index: 1;
}
.top-menu .menu-item {
  padding: 5px;
}
.top-menu .menu-item a:after {
  content: "\f178";
  margin-left: 10px;
}
.social-menu .menu li {
  display: inline-block;
  margin-left: 20px;
  width: auto !important;
}
.social-menu .menu li:hover {
  -webkit-transform: translate(0, 0) !important;
  -moz-transform: translate(0, 0) !important;
  -ms-transform: translate(0, 0) !important;
  -o-transform: translate(0, 0) !important;
}
.social-menu .menu li:before {
  display: none;
}
.social-menu .menu li a {
  font-size: 0;
}
.social-menu .menu li a:before {
  font-size: 16px;
  display: inline-block;
}
.social-menu .menu li a[href*="facebook"]:before {
  content: "\f09a";
}
.social-menu .menu li a[href*="twitter"]:before {
  content: "\f099";
}
.social-menu .menu li a[href*="instagram"]:before {
  content: "\f16d";
}
.social-menu .menu li a[href*="youtube"]:before {
  content: "\f16a";
}
.social-menu .menu li a[href*="plus.google.com"]:before {
  content: "\f0d5";
}
.social-menu .menu li a[href*="flickr"]:before {
  content: "\f16e";
}
.social-menu .menu li a[href*="dribbble"]:before {
  content: "\f17d";
}
.social-menu .menu li a[href*="foursquare"]:before {
  content: "\f180";
}
.social-menu .menu li a[href*="linkedin"]:before {
  content: "\f0e1";
}
.social-menu .menu li a[href*="tumblr"]:before {
  content: "\f173";
}
.social-menu .menu li a[href*="feed"]:before {
  content: "\f09e";
}
.social-menu .menu li a[href*="pinterest"]:before {
  content: "\f0d2";
}
.social-menu .menu li a[href*="pinterest"]:before {
  content: "\f0d2";
}
.social-menu .menu li a[href*="behance"]:before {
  content: "\f1b4";
}
.social-menu .menu li a[href*="vimeo"]:before {
  content: "\f194";
}
#site-navigation {
  position: relative;
}
#site-navigation ul {
  margin-bottom: 0;
}
#site-navigation .menu li {
  cursor: pointer;
}
#site-navigation .menu li::before {
  content: '/';
  position: absolute;
  left: 0;
  color: #aaaaaa;
}
#site-navigation .menu li:first-child:before {
  display: none;
}
#site-navigation .menu li:hover > .sub-menu,
#site-navigation .menu li:hover > .children {
  visibility: visible;
  opacity: 1;
  margin-top: 0;
}
#site-navigation .menu > ul > li,
#site-navigation .menu > li {
  padding: 25px 20px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  line-height: 1;
}
#site-navigation .menu > ul > li a,
#site-navigation .menu > li a {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#site-navigation .sub-menu,
#site-navigation .children {
  position: absolute;
  width: 300px;
  right: 0;
  top: 100%;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  border-top: 2px solid #111111;
  margin-top: 30px;
}
#site-navigation .sub-menu .sub-menu,
#site-navigation .children .sub-menu,
#site-navigation .sub-menu .children,
#site-navigation .children .children {
  top: 0;
  right: 300px;
}
#site-navigation .sub-menu li,
#site-navigation .children li {
  position: relative;
}
#site-navigation .sub-menu li:after,
#site-navigation .children li:after {
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#site-navigation .sub-menu li a,
#site-navigation .children li a {
  display: block;
  border-bottom: 1px solid #eeeeee;
}
@media (min-width: 62rem) {
  .top-menu .menu-item {
    padding: 15px 30px 15px 0;
  }
}
/*--------------------------------------------
Sidebar
----------------------------------------------*/
.sidebar a {
  color: #888;
}
.sidebar .widget {
  margin-bottom: 40px;
}
.sidebar .widget-title {
  text-transform: uppercase;
  margin-bottom: 15px;
}
.sidebar .widget_archive .screen-reader-text {
  display: none;
}
.sidebar select {
  border-color: #ddd;
  color: #888;
}
.sidebar ul li,
.wpb_widgetised_column ul li,
.sidebar .recent-posts__item,
.wpb_widgetised_column .recent-posts__item {
  display: block;
  padding-bottom: 10px;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}
.sidebar .recent-posts__item,
.wpb_widgetised_column .recent-posts__item {
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.sidebar .recent-posts > div:last-child,
.wpb_widgetised_column .recent-posts > div:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
.sidebar .widget_search .search-form,
.wpb_widgetised_column .widget_search .search-form {
  position: relative;
  margin-top: -20px;
}
.sidebar .widget_search span,
.wpb_widgetised_column .widget_search span {
  font-size: 0;
}
.sidebar .widget_search input[type="search"],
.wpb_widgetised_column .widget_search input[type="search"] {
  border: 1px solid #DDDDDD;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 0;
}
.sidebar .widget_search .search-submit,
.wpb_widgetised_column .widget_search .search-submit {
  display: none;
}
.sidebar .better-menu-widget ul li,
.wpb_widgetised_column .better-menu-widget ul li {
  border: 1px solid #dddddd;
  padding: 0;
}
.sidebar .better-menu-widget li,
.wpb_widgetised_column .better-menu-widget li {
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
}
.sidebar .better-menu-widget li:hover:before,
.wpb_widgetised_column .better-menu-widget li:hover:before {
  color: #FFFFFF;
}
.sidebar .better-menu-widget li:before,
.wpb_widgetised_column .better-menu-widget li:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  height: 60px;
  line-height: 60px;
  width: 50px;
  text-align: center;
  background-color: #EEEEEE;
  vertical-align: middle;
  margin-right: 30px;
  font-size: 24px;
}
.sidebar .better-menu-widget li:after,
.wpb_widgetised_column .better-menu-widget li:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 60px 0 0 20px;
  border-color: transparent transparent transparent #EEEEEE;
  position: absolute;
  top: 0;
  left: 50px;
}
@media (max-width: 47.9375rem) {
  .sidebar {
    padding-right: 20px;
    padding-left: 20px;
  }
}
/*--------------------------------------------
Mini Cart
----------------------------------------------*/
.mini-cart {
  padding: 0 15px;
  position: relative;
}
.mini-cart .mini-cart__button {
  cursor: pointer;
}
.mini-cart .mini-cart__button .mini-cart-icon {
  position: relative;
}
.mini-cart .mini-cart__button .mini-cart-icon:before {
  content: '\f07a';
  font-size: 20px;
  float: none;
  width: auto;
  height: auto;
  line-height: normal;
  border: none;
  margin: 0;
}
.mini-cart .mini-cart__button .mini-cart-icon:after {
  font-family: inherit;
  content: attr(data-count);
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  position: absolute;
  top: -16px;
  right: -12px;
  min-width: 20px;
  line-height: 20px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.mini-cart .widget_shopping_cart_content {
  position: absolute;
  right: 0;
  top: 140%;
  width: 300px;
  max-height: 700px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  padding-top: 15px;
  z-index: 99999;
  background-color: #fff;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.mini-cart .widget_shopping_cart_content .cart_list li {
  padding: 0 15px 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #EEEEEE;
}
.mini-cart .widget_shopping_cart_content .cart_list li img {
  width: 70px;
  margin: 0 10px 0 0;
  float: left;
}
.mini-cart .widget_shopping_cart_content .cart_list li .quantity {
  display: block;
  color: #666;
  font-size: 12px;
}
.mini-cart .widget_shopping_cart_content .cart_list li .remove {
  font-size: 20px;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 15px;
  float: right;
  position: relative;
  display: inline-block;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.mini-cart .widget_shopping_cart_content .cart_list li .remove:hover {
  color: #fff !important;
  background: red;
}
.mini-cart .widget_shopping_cart_content .total {
  padding: 5px 15px 5px;
  margin-bottom: 0;
  text-align: center;
}
.mini-cart .widget_shopping_cart_content .buttons {
  text-align: center;
  margin-bottom: 0;
}
.mini-cart .widget_shopping_cart_content .wc-forward {
  display: inline-block;
  padding: 5px 10px;
  margin: 10px 3px 15px;
  text-transform: uppercase;
}
.mini-cart.open .widget_shopping_cart_content {
  opacity: 1;
  visibility: visible;
  top: 100%;
}
/*--------------------------------------------------------------
Page
--------------------------------------------------------------*/
.big-title,
.big-title--single {
  position: relative;
  margin-bottom: 70px;
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: auto;
}
.big-title .container,
.big-title--single .container {
  position: relative;
  z-index: 1;
}
.big-title .entry-title,
.big-title--single .entry-title {
  line-height: 1.2em;
  text-transform: uppercase;
}
.big-title .entry-desc,
.big-title--single .entry-desc {
  line-height: 1.6em;
  letter-spacing: 0.2em;
  font-size: 14px;
  display: block;
}
.big-title:after,
.big-title--single:after {
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@media (max-width: 47.9375rem) {
  .big-title,
  .big-title--single {
    background-size: cover;
  }
}
.taxonomy-description {
  margin-top: -50px;
  padding-bottom: 50px;
  display: block;
  font-size: 20px;
}
.pagination {
  margin-bottom: 70px;
  text-align: center;
}
.pagination span,
.pagination a {
  display: inline-block;
  margin-right: 10px;
  color: #868686;
  line-height: 1.6em;
  letter-spacing: 0.2em;
  font-size: 14px;
}
.pagination span.current {
  color: #111111;
}
.pagination .next,
.pagination .prev {
  width: auto;
  border: none;
  font-size: 0;
}
.pagination .next::before {
  content: '»';
  font-size: 14px;
}
.pagination .prev::after {
  content: '«';
  font-size: 14px;
}
@media (min-width: 75rem) {
  .big-title,
  .big-title--single {
    margin: 0 -100% 70px;
  }
}
@media (max-width: 47.9375rem) {
  .one-page-scroll > .vc_row {
    left: 0 !important;
    padding: 40px 0 0 0!important;
    width: 100%!important;
  }
  .one-page-scroll > .vc_row .vc_custom_heading h2 {
    font-size: 36px !important;
  }
}
@media (max-width: 74.9375rem) {
  .page .googlemap-reset-margin {
    margin-bottom: 40px!important;
  }
}
@media (max-width: 74.9375rem) and (min-width: 48rem) {
  .one-page-scroll .vc_row.vc_row-no-padding .content-left-padding {
    padding-top: 20px;
    padding-left: 20px;
  }
  .one-page-scroll .vc_row.vc_row-no-padding .content-right-padding {
    padding-top: 20px;
    padding-left: 20px;
  }
}
/*--------------------------------------------
Post
----------------------------------------------*/
.categories-links {
  width: 100%;
  display: block;
  text-align: center;
}
.categories-links a {
  font-size: 14px;
  line-height: 1.6em;
  color: #111111;
  border-bottom: 1px solid #111111;
  padding-bottom: 2px;
  border-bottom: 1px solid #111;
  padding: 10px 0 5px 0;
  letter-spacing: 0.2em;
  position: relative;
  display: inline-block;
  white-space: nowrap!important;
}
.categories-links a:hover,
.categories-links a.active {
  background: transparent;
  color: #111;
}
.categories-links a:hover:after {
  height: 100%;
}
.categories-links a:after {
  position: absolute;
  content: '';
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: -1;
}
.dates {
  color: #878787;
  font-size: 13px;
  line-height: 1.6em;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.2em;
  margin-bottom: 50px;
}
.post.sticky {
  position: relative;
}
.post.sticky .entry-header .entry-title a:before {
  top: 0;
  left: 0;
  content: "\e69b";
  font-family: "Pe-icon-7-stroke";
  font-size: 1.5rem;
  margin-right: 20px;
}
.entry-content .entry-title a {
  text-transform: uppercase;
}
.post-thumb {
  position: relative;
  text-align: center;
  overflow: hidden;
  margin-bottom: 35px;
}
.post-thumb .dates {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 30px;
  background-color: #fff;
  line-height: 1.2;
}
.post-thumb .dates:after {
  content: '';
  position: absolute;
  top: 0;
  right: -50px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 130px 0 0 50px;
  border-color: transparent transparent transparent #FFFFFF;
}
.post-thumb .month {
  font-weight: 600;
  display: block;
}
.post-thumb .date {
  font-weight: 700;
  display: block;
  font-size: 30px;
}
.post-thumb .year {
  font-style: italic;
  font-weight: 600;
}
.hentry {
  margin-bottom: 50px;
}
.hentry .entry-header {
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
}
@media (min-width: 75rem) {
  .hentry .entry-meta span {
    margin-left: 30px;
  }
}
.hentry .entry-meta span .post-edit-link {
  font-style: italic;
  border-bottom: 1px solid;
}
.hentry .entry-meta span:first-child {
  margin-left: 0;
}
.hentry .entry-meta i {
  margin-right: 5px;
}
.hentry .share a {
  margin-left: 10px;
}
.hentry .entry-footer {
  overflow: hidden;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 12px;
  margin-top: 39px;
}
.hentry .entry-footer .comments-counts,
.hentry .entry-footer .share {
  color: #111111;
  font-size: 14px;
}
.hentry .entry-footer .comments-counts i,
.hentry .entry-footer .share i {
  color: #878787;
}
.hentry .entry-footer .comments-counts {
  letter-spacing: 0.2em;
}
.hentry .read-more-contain {
  text-align: center;
}
.hentry .read-more-contain .read-more {
  letter-spacing: .2em;
  line-height: 1.6em;
  display: inline-block;
  position: relative;
  font-size: 14px;
  border-bottom: 1px solid #111111;
  text-align: center;
}
.single-post .entry-footer {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
}
@media (max-width: 47.9375rem) {
  .single-post .entry-footer > .row > div {
    text-align: center;
    margin-bottom: 15px;
  }
}
.single-post .comment-form,
.page .comment-form {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
}
.single-post .comment-form:before,
.page .comment-form:before,
.single-post .comment-form:after,
.page .comment-form:after {
  display: none !important;
}
.single-post .comment-form .form-submit,
.page .comment-form .form-submit,
.single-post .comment-form .logged-in-as,
.page .comment-form .logged-in-as {
  padding: 0 15px;
}
@media (max-width: 47.9375rem) {
  .single-post .comment-form {
    margin-left: 0;
    margin-right: 0;
  }
}
.single-post .comment-reply-title,
.page .comment-reply-title,
.single-post .comments-title,
.page .comments-title {
  position: relative;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 16px;
  color: #111;
}
.single-post .comment-reply-title small a,
.page .comment-reply-title small a,
.single-post .comments-title small a,
.page .comments-title small a {
  font-size: 80%;
  border-bottom: 1px solid #111;
  padding-bottom: 3px;
}
.single-post .comment,
.page .comment {
  position: relative;
}
.single-post .comment > div,
.page .comment > div {
  background-color: transparent;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 0;
}
.single-post .comment .comment-author,
.page .comment .comment-author {
  float: none;
  display: inline-block;
  vertical-align: top;
  width: 15%;
  padding-right: 20px;
  margin-right: 0;
}
.single-post .comment .comment-author img,
.page .comment .comment-author img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.single-post .comment .comment-content,
.page .comment .comment-content {
  display: inline-block;
  vertical-align: top;
  width: 75%;
}
.single-post .comment .comment-content cite,
.page .comment .comment-content cite {
  margin-bottom: 10px;
}
.single-post .comment .comment-content cite.fn,
.page .comment .comment-content cite.fn {
  text-transform: none;
  font-size: 14px;
  letter-spacing: 0.2em;
  color: #111;
  display: block;
}
.single-post .comment .comment-content .metadata > a,
.page .comment .comment-content .metadata > a {
  font-size: 13px;
  color: #888888;
  letter-spacing: 0.2em;
  display: inline-block;
}
.single-post .comment .comment-content .metadata > br,
.page .comment .comment-content .metadata > br {
  display: none;
}
.single-post .comment .comment-content p,
.page .comment .comment-content p {
  color: #888;
  margin-bottom: 0;
  margin-top: 8px;
}
.single-post .comment .comment-reply-link,
.page .comment .comment-reply-link {
  position: absolute;
  top: 10px;
  right: 0px;
  border-bottom: 1px solid #111;
  padding: 10px 0 5px 0;
  letter-spacing: 0.2em;
  position: relative;
  display: inline-block;
  white-space: nowrap!important;
  padding-top: 3px;
  padding-bottom: 0px;
}
.single-post .comment .comment-reply-link:hover,
.page .comment .comment-reply-link:hover,
.single-post .comment .comment-reply-link.active,
.page .comment .comment-reply-link.active {
  background: transparent;
  color: #111;
}
.single-post .comment .comment-reply-link:hover:after,
.page .comment .comment-reply-link:hover:after {
  height: 100%;
}
.single-post .comment .comment-reply-link:after,
.page .comment .comment-reply-link:after {
  position: absolute;
  content: '';
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: -1;
}
@media (min-width: 62rem) {
  .single-post .comment .children > li > div,
  .page .comment .children > li > div {
    padding-left: 100px;
  }
}
.single-post .comment .fn,
.page .comment .fn {
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
}
.author-info {
  padding: 50px 0;
}
.author-info .author-avatar,
.author-info .author-desc {
  display: inline-block;
}
.author-info .author-avatar {
  float: none;
  width: 15%;
  padding-right: 20px;
  margin-right: 0;
}
.author-info .author-avatar img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.author-info .author-name,
.author-info .author-text {
  margin-bottom: 10px;
}
.author-info .author-desc {
  width: 80%;
  vertical-align: top;
}
.comment-list {
  list-style: none;
}
.comment-list .children {
  list-style: none;
  margin: 0;
}
.single-project .title--single {
  margin-bottom: 100px;
}
@media (min-width: 75rem) {
  .single-project .title--single {
    margin-top: 128px;
  }
}
@media (max-width: 47.9375rem) {
  .single-project .title--single {
    padding: 10px 20px;
    margin-bottom: 20px;
  }
  .single-project .title--single .entry-title {
    font-size: 36px;
    padding-bottom: 10px !important;
  }
}
.single-project .big-title--single {
  background-position: center center;
}
.single-project .big-title--single .entry-title {
  padding: 191px 0px 35px 0px;
}
@media (max-width: 61.9375rem) {
  .single-project .big-title--single .entry-title {
    padding-top: 30px !important;
    padding-bottom: 20px;
  }
}
.single-project .big-title--single .entry-desc {
  padding-bottom: 198px;
}
@media (max-width: 61.9375rem) {
  .single-project .big-title--single .entry-desc {
    padding-bottom: 40px !important;
  }
}
@media (max-width: 47.9375rem) {
  .single-project .big-title--single {
    margin-bottom: 20px;
  }
}
.single-project .metadata a {
  color: #888888;
}
.single-project span.metadata a {
  font-size: 13px;
}
.single-project div.metadata a {
  margin-right: 10px;
}
.single-project .single-metadata {
  padding: 6px 0 61px 0;
}
@media (max-width: 47.9375rem) {
  .single-project .single-metadata {
    margin: 0;
    padding-bottom: 20px;
  }
  .single-project .single-metadata > div {
    margin-bottom: 10px;
  }
}
.single-project .entry-title {
  line-height: 1.2em;
}
.single-project .contain-metadata {
  border-left: 1px solid #eee;
  padding-left: 38px;
}
.single-project .contain-metadata > div {
  margin-top: 17px;
}
.single-project .title--single .entry-title {
  padding-bottom: 35px;
  padding-top: 10px;
}
@media (min-width: 75rem) {
  .single-project .post-navigation {
    margin: 0px -100% 0px;
    position: relative;
  }
}
.post-navigation {
  border-bottom: 1px solid #EEEEEE;
  border-top: 1px solid #EEEEEE;
  padding: 43px 0;
}
.post-navigation .screen-reader-text {
  display: none;
}
.post-navigation .nav-links {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.single .nav-links .nav-previous a:before {
  left: -10px;
}
.single .nav-links .nav-next a:before {
  right: -10px;
}
.nav-links .nav-previous {
  float: left;
}
.nav-links .nav-previous a {
  padding-left: 35px;
}
.nav-links .nav-previous a:before {
  content: "\e686";
  left: 0;
}
@media (max-width: 47.9375rem) {
  .nav-links .nav-previous {
    width: 100%;
    text-align: left;
  }
}
.nav-links .nav-next {
  float: right;
}
.nav-links .nav-next a {
  padding-right: 35px;
}
.nav-links .nav-next a:before {
  content: "\e684";
  right: 0;
}
@media (max-width: 47.9375rem) {
  .nav-links .nav-next {
    width: 100%;
    text-align: right;
  }
}
.nav-links a {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 1.2em;
  display: inline-block;
  position: relative;
}
.nav-links a:before {
  font-family: Pe-icon-7-stroke;
  font-size: 30px;
  position: absolute;
  top: 50%;
  margin-top: -8px;
}
.nav-links .portfolio-home-btn {
  position: absolute;
  left: 50%;
  margin-left: -6px;
  top: 50%;
  margin-top: -6px;
  width: 12px;
  height: 12px;
  background: url("../images/home-menu-icon.png") center center no-repeat;
}
@media (max-width: 47.9375rem) {
  .nav-links .portfolio-home-btn {
    display: none;
  }
}
.masonry {
  display: block;
}
.masonry .brick {
  display: inline-block;
  width: 100%;
}
@media (min-width: 75rem) {
  .masonry {
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.tags a {
  font-size: 13px;
  color: #878787;
  border: 1px solid #eee;
  padding: 10px 21px;
}
.tags a:hover {
  border-color: #888;
}
.esgbox-overlay .esgbox-skin {
  box-shadow: none !important;
}
.esgbox-overlay .esgbox-title.esgbox-title-outside-wrap {
  text-align: left !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  font-size: inherit !important;
}
.esgbox-overlay .esgbox-close {
  bottom: -42px;
  right: -10px;
  top: inherit;
  background: none;
  z-index: 99999;
}
.esgbox-overlay .esgbox-close:before {
  content: "\e680";
  font-family: 'Pe-icon-7-stroke';
  font-size: 40px;
  color: #fff;
}
.esgbox-overlay .esgbox-nav span {
  background: #fff;
  display: block!important;
  opacity: 0.5!important;
  visibility: visible!important;
  padding: 6px 0 0 6px;
}
.esgbox-overlay .esgbox-nav span:before {
  font-family: 'Pe-icon-7-stroke';
  font-size: 24px;
}
.esgbox-overlay .esgbox-nav span:hover {
  opacity: 1!important;
  color: #111;
}
.esgbox-overlay .esgbox-next span {
  right: 0;
}
.esgbox-overlay .esgbox-next span:before {
  content: "\e684";
}
.esgbox-overlay .esgbox-prev span {
  left: 0;
}
.esgbox-overlay .esgbox-prev span:before {
  content: "\e686";
}
/* Post Like System */
[data-icon]:before {
  content: attr(data-icon);
}
[data-icon]:before,
.icon-gear:before,
.icon-like:before,
.icon-unlike:before {
  display: inline-block;
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.icon-like:before {
  content: "\f08a";
}
.icon-unlike:before {
  content: "\f004";
}
.icon-gear:before {
  content: "\f021";
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
a.jm-post-like {
  font-weight: normal;
  display: inline-block;
  width: auto;
  -moz-transition: all 0.3s ease-out 0.2s;
  -webkit-transition: all 0.3s ease-out 0.2s;
  -o-transition: all 0.3s ease-out 0.2s;
}
a.jm-post-like.liked {
  color: #da1b1b;
}
a.jm-post-like:hover,
a.jm-post-like:active,
a.jm-post-like:focus,
a.liked:hover,
a.liked:active,
a.liked:focus {
  color: #000;
}
/*--------------------------------------------
Typo
----------------------------------------------*/
.btn,
.eg-infinity-features-element-26 {
  position: relative;
  display: inline-block;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  overflow: hidden;
  z-index: 1;
  line-height: 1;
}
.btn span,
.eg-infinity-features-element-26 span {
  display: block;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.btn::before,
.eg-infinity-features-element-26::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #fff;
  line-height: 1;
  content: attr(data-hover);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateX(-25%);
  -moz-transform: translateX(-25%);
  transform: translateX(-25%);
}
.btn:hover span,
.eg-infinity-features-element-26:hover span,
.btn:focus span,
.eg-infinity-features-element-26:focus span {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  transform: translateX(100%);
}
.btn:hover::before,
.eg-infinity-features-element-26:hover::before,
.btn:focus::before,
.eg-infinity-features-element-26:focus::before {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  transform: translateX(0%);
}
.btn-alt,
.btn.alt,
button.btn-alt,
.link.active {
  background: transparent;
}
.btn-alt:after,
.btn.alt:after,
button.btn-alt:after,
.link.active:after {
  height: 100%;
}
ul.style1 li {
  margin-bottom: 10px;
  list-style: none;
}
ul.style1 li:before {
  content: "\f061";
  margin-right: 10px;
}
/*--------------------------------------------
Breadcrumb
----------------------------------------------*/
.breadcrumb {
  overflow: hidden;
}
.tm_bread_crumb {
  margin: 0 -15px;
  padding: 15px 20px;
  display: inline-block;
  position: relative;
}
.tm_bread_crumb:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 60px 0 0 40px;
  border-color: transparent transparent transparent transparent;
  position: absolute;
  top: 0;
  right: -40px;
}
.tm_bread_crumb li {
  display: inline-block;
  margin-right: 6px;
}
.tm_bread_crumb li a:after {
  content: "\f061";
  margin-left: 10px;
}
.tm_bread_crumb li:last-child {
  margin: 0;
}
/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
/*
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
/* No Js */
.no-js .owl-carousel {
  display: block;
}
/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}
/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.html") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}
.owl-controls {
  text-align: center;
}
.owl-controls .owl-dot {
  position: relative;
  z-index: 99;
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: top;
  margin: 0 3px;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.owl-controls .owl-dot.active {
  background-color: #FFFFFF;
}
.snap-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 2;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.snap-drawers {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
}
.snap-drawer {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: auto;
  width: 265px;
  height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -ms-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
.snap-drawer-left {
  left: 0;
  z-index: 1;
}
.snap-drawer-right {
  right: 0;
  z-index: 1;
}
.snapjs-left .snap-drawer-right,
.snapjs-right .snap-drawer-left {
  display: none;
}
.snapjs-expand-left .snap-drawer-left,
.snapjs-expand-right .snap-drawer-right {
  width: 100%;
}
/*--------------------------------------------
Mobile Menu
----------------------------------------------*/
#open-left {
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
}
.snap-drawers {
  background-color: #fff;
}
@media (min-width: 62rem) {
  .snap-drawers {
    display: none;
  }
}
.mobile-menu .sub-menu-toggle {
  display: none;
}
.mobile-menu > ul > li > a {
  padding-left: 20px;
  padding-right: 20px;
}
.mobile-menu > ul li.menu-item {
  display: block;
  position: relative;
}
.mobile-menu > ul li.menu-item > a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #EEEEEE;
}
.mobile-menu > ul li.menu-item:last-child {
  border: none;
}
.mobile-menu > ul li.menu-item .sub-menu {
  display: none;
  padding-left: 20px;
  margin-left: 0;
}
.mobile-menu > ul li.menu-item .sub-menu li.badge:after {
  font-size: 9px;
  top: 0;
  right: 25px;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
}
.mobile-menu > ul li.menu-item.menu-item-has-children > .sub-menu-toggle {
  display: block;
  position: absolute;
  top: 11px;
  right: 20px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  outline: 0;
  border: 1px solid #eee;
}
.mobile-menu > ul li.menu-item.menu-item-has-children > .sub-menu-toggle:before {
  display: inline-block;
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.mobile-menu > ul li.menu-item.expand > .sub-menu-toggle {
  background-color: #eee;
}
.mobile-menu > ul li.menu-item.expand > .sub-menu-toggle:before {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.mobile-menu > ul li.menu-item.mega-menu .sub-menu {
  border-bottom: 1px solid #eee;
  padding: 0;
}
.mobile-menu > ul li.menu-item.mega-menu .menu-item-object-tm_mega_menu {
  padding-top: 0;
}
.mobile-menu > ul li.menu-item.mega-menu .vc_row[data-vc-full-width] {
  left: 0!important;
  width: 100%!important;
  padding: 20px!important;
  margin: 0!important;
}
.mobile-menu > ul li.menu-item.mega-menu .vc_row[data-vc-full-width] .vc_row {
  margin: 0!important;
}
.mobile-menu > ul li.menu-item.mega-menu .vc_row {
  padding-top: 20px!important;
  padding-bottom: 20px!important;
}
.mobile-menu > ul li.menu-item.mega-menu .vc_row .vc_row {
  margin: 0!important;
}
.mobile-menu > ul li.menu-item.mega-menu .col-20 {
  width: 100%!important;
  padding: 0!important;
}
.mobile-menu > ul li.menu-item.mega-menu ul {
  padding-bottom: 10px;
}
.mobile-menu > ul li.menu-item.mega-menu ul li {
  list-style-type: none;
  padding-top: 10px;
}
.mobile-menu > ul li.menu-item.mega-menu .woocommerce .products li {
  width: 100%;
}
.mobile-menu > ul li.menu-item.mega-menu .post-simple-layout {
  padding: 0;
}
.mobile-menu > ul li.menu-item.mega-menu.expand {
  margin-bottom: 10px;
}
.mobile-menu > ul li.menu-item.mega-menu.expand .sub-menu {
  padding-bottom: 0;
}
@media (max-width: 47.9375rem) {
  .mobile-menu .sub-menu li .post-simple-layout > .row > [class*="col"] .post {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
  .mobile-menu .sub-menu li .post-simple-layout > .row > [class*="col"]:last-child .post {
    margin-bottom: 0;
  }
}
@media (min-width: 48rem) and (max-width: 61.9375rem) {
  .mobile-menu .sub-menu li .post-simple-layout > .row > [class*="col"] {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (min-width: 62rem) and (max-width: 74.9375rem) {
  .mobile-menu .sub-menu li .post-simple-layout > .row > [class*="col"] {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
}
/*--------------------------------------------------------------
Form
--------------------------------------------------------------*/
body select,
body textarea,
body input {
  display: inline-block;
  padding: 15px 25px;
  margin-bottom: 20px;
  vertical-align: top;
  font-size: 14px;
  width: 100%;
  max-width: 100%;
  border: 1px solid #EEEEEE;
  letter-spacing: 0.2em;
  line-height: 1.6em;
  background-color: #fff;
  font-family: inherit;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('../images/arrow-down.png') center right no-repeat;
}
textarea {
  resize: vertical;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #868686;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #868686;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #868686;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #868686;
}
textarea {
  height: 140px;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
  background-color: #FFFFFF;
  color: #111;
  border-color: #111;
}
input[type="checkbox"],
input[type="image"],
input[type="radio"] {
  width: auto;
}
button,
.btn,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #fff;
  color: #111;
  cursor: pointer;
  padding: 10px 29px;
  width: auto;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 1.6em;
  border: 1px solid #111;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
button:hover:after,
.btn:hover:after,
input[type="button"]:hover:after,
input[type="reset"]:hover:after,
input[type="submit"]:hover:after {
  height: 100%;
}
button:after,
.btn:after,
input[type="button"]:after,
input[type="reset"]:after,
input[type="submit"]:after {
  position: absolute;
  content: '';
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: -1;
}
button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover {
  color: #111;
  background: none;
}
/*--------------------------------------------
Contact Form
----------------------------------------------*/
.contact-form-contain .heading-contact,
.contact-form-contain .sub-heading-contact {
  letter-spacing: 0.2em;
  line-height: 3.5em;
}
.contact-form-contain .meta-contact {
  letter-spacing: 0.2em;
  line-height: 1.6em;
  color: #878787;
  font-size: 14px;
}
/*--------------------------------------------
Recent Posts
----------------------------------------------*/
.recent-posts__item {
  margin-bottom: 20px;
}
.recent-posts__item .recent-posts__thumb {
  float: left;
  margin-right: 20px;
  position: relative;
}
.recent-posts__item .recent-posts__thumb:before {
  content: '';
  width: 30px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 2px;
  background-color: #fff;
  z-index: 2;
  opacity: 0;
}
.recent-posts__item .recent-posts__thumb:after {
  content: '';
  width: 2px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 30px;
  opacity: 0;
  background-color: #fff;
}
.recent-posts__item .recent-posts__thumb a:before {
  content: '';
  opacity: 0;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.recent-posts__item:hover .recent-posts__thumb:before {
  opacity: 1;
}
.recent-posts__item:hover .recent-posts__thumb:after {
  opacity: 1;
}
.recent-posts__item:hover .recent-posts__thumb a:before {
  opacity: .8;
}
.recent-posts__item a {
  font-size: 15px;
  letter-spacing: .05em;
}
.recent-posts__item .post-meta {
  margin-top: 10px;
  color: #878787;
}
.recent-posts__item .post-meta span {
  margin-right: 10px;
}
.recent-posts.type_2 h3 {
  letter-spacing: normal;
  font-weight: normal;
  margin-bottom: 20px;
}
.recent-posts.type_2 .entry-meta {
  margin-bottom: 20px;
}
.recent-posts.type_2 .entry-meta span {
  padding-right: 10px;
}
.recent-posts.type_2 .entry-meta i {
  margin-right: 5px;
}
.recent-posts.type_2 .entry-excerpt {
  color: #858585;
}
/*--------------------------------------------
Accordion
----------------------------------------------*/
.wpb_content_element .wpb_accordion_header a {
  padding: 0 !important;
}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header {
  background: #ffffff !important;
  border: 1px solid #DDDDDD;
  margin-bottom: 5px !important;
  overflow: hidden;
  cursor: pointer;
}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header.ui-state-active {
  color: #FFFFFF !important;
}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header.ui-state-active a {
  color: #FFFFFF !important;
}
.wpb_accordion .wpb_accordion_wrapper .ui-state-default .ui-icon {
  position: relative !important;
  float: left;
  top: auto !important;
  right: auto !important;
  display: block;
  background: #EEEEEE !important;
  padding: 0 !important;
  width: 40px !important;
  height: 50px !important;
  text-align: center;
  line-height: 50px;
  margin-right: 30px;
}
.wpb_accordion .wpb_accordion_wrapper .ui-state-default .ui-icon:before {
  content: "\f061";
  display: inline-block;
}
.wpb_accordion .wpb_accordion_wrapper .ui-state-default .ui-icon:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 80px 0 0 30px;
  border-color: transparent transparent transparent #EEEEEE;
  position: absolute;
  top: 0;
  right: -30px;
}
.wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon:before {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a {
  padding-top: 13px !important;
  display: inline-block;
  font-size: 16px;
  letter-spacing: .05em;
}
.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content {
  border: 1px solid #DDDDDD;
  border-top: none;
  margin-top: -5px;
  margin-bottom: 5px;
  color: #878787;
}
/*--------------------------------------------
Visual Composer
----------------------------------------------*/
.testi {
  position: relative;
}
.testi:before {
  content: '' !important;
  display: block !important;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: .95;
  z-index: 1;
}
.wpb_column > .wpb_wrapper > .vc_custom_heading.style1 {
  margin-bottom: 60px;
}
@media (max-width: 74.9375rem) {
  blockquote,
  q {
    padding-left: 50px;
    margin-left: 10px;
  }
}
@media (max-width: 74.9375rem) {
  blockquote:before,
  q:before {
    font-size: 20px;
  }
}
.thememove_testimonials .quote {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 40px;
}
.thememove_testimonials blockquote {
  margin: 0;
  padding: 0 0 20px;
  border: none;
}
.thememove_testimonials blockquote:before {
  display: none !important;
}
.thememove_testimonials .author {
  display: block;
  float: left;
  padding: 15px 20px;
  margin: 0 0 -70px -30px;
  line-height: 1;
  position: relative;
}
.thememove_testimonials .author:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 68px 0 0 30px;
  border-color: transparent transparent transparent transparent;
  position: absolute;
  top: 0;
  right: -30px;
}
.thememove_testimonials .author span:first-child {
  display: block;
  font-size: 16px;
  color: #FFFFFF;
  margin-bottom: 8px;
  letter-spacing: 0.05em;
}
.thememove_testimonials .author span:last-child {
  font-style: italic;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
}
.thememove_testimonials .owl-controls {
  margin-top: 40px;
}
.vc_images_carousel {
  position: relative;
  overflow: hidden;
}
.vc_images_carousel .vc_carousel-indicators li {
  width: 12px !important;
  height: 12px !important;
}
.vc_carousel-indicators {
  background-color: #fff;
  width: auto !important;
  bottom: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  padding: 15px 20px 10px !important;
}
.vc_carousel-indicators:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 130px 0 0 50px;
  border-color: transparent transparent transparent #FFFFFF;
  position: absolute;
  top: 0;
  right: -50px;
}
.eg-infinity-features-element-25 {
  float: left !important;
  position: relative;
}
.eg-infinity-features-element-25 i {
  background-color: #fff !important;
  font-size: 40px;
  height: 110px;
  line-height: 110px;
  width: 110px;
  text-align: center;
}
.eg-infinity-features-element-25 i:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 130px 0 0 50px;
  border-color: transparent transparent transparent #FFFFFF;
  position: absolute;
  top: 0;
  right: -50px;
}
.eg-infinity-members-content em {
  font-weight: bold;
  font-style: italic;
  color: #111;
  padding-bottom: 10px;
  display: inline-block;
}
.tp-caption.icon {
  padding: 40px;
  display: block;
}
.tp-caption.t2:before {
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: skew(30deg, 0);
  -moz-transform: skew(30deg, 0);
  -ms-transform: skew(30deg, 0);
  -o-transform: skew(30deg, 0);
  z-index: -1;
}
.vc_bar {
  -webkit-clip-path: polygon(0 0, 94% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 94% 0%, 100% 100%, 0% 100%);
}
.vc_label {
  color: #fff;
  font-weight: bold;
  letter-spacing: .1em;
}
.contain-gallery .esg-filters .esg-filter-wrapper {
  margin: 49px 0 65px 0;
}
.contain-gallery .esg-filters .esg-filter-wrapper .esg-filterbutton {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 14px 20px 10px 20px;
  line-height: 1em;
  border-color: transparent;
}
.contain-gallery .esg-filters .esg-filter-wrapper .esg-filterbutton.selected,
.contain-gallery .esg-filters .esg-filter-wrapper .esg-filterbutton:hover {
  border: 1px solid #EEEEEE;
}
.contain-gallery .esg-filters .esg-filter-wrapper .esg-filterbutton span {
  color: #111111;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: 0.2em;
}
/* Google map */
#map-canvas img {
  max-width: none;
}
/* Custom Class */
.desc-below-heading {
  color: #111;
  letter-spacing: 0.2em;
}
.black-color02 {
  color: #111;
}
.gray-color,
.gray-color * {
  color: #888;
}
.link {
  border-bottom: 1px solid #111;
  padding: 10px 0 5px 0;
  letter-spacing: 0.2em;
  position: relative;
  display: inline-block;
  white-space: nowrap!important;
}
.link:hover,
.link.active {
  background: transparent;
  color: #111;
}
.link:hover:after {
  height: 100%;
}
.link:after {
  position: absolute;
  content: '';
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: -1;
}
.cl-center .vc_vc_column,
.cl-center .wpb_column {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 75rem) {
  .content-left-padding {
    padding-left: 180px !important;
    padding-top: 160px;
  }
  .content-right-padding {
    padding-left: 170px !important;
    padding-top: 160px;
  }
}
@media (max-width: 47.9375rem) {
  .wpcf7-form .row {
    margin-right: 0;
    margin-left: 0;
  }
}
/* Circle */
.zebre-shine-hover .vc_column_container .vc_single_image-wrapper,
.zebre-shine-hover.item-shine-hover {
  position: relative;
}
.zebre-shine-hover .vc_column_container .vc_single_image-wrapper:before,
.zebre-shine-hover.item-shine-hover:before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.zebre-shine-hover .vc_column_container .vc_single_image-wrapper:hover:before,
.zebre-shine-hover.item-shine-hover:hover:before {
  -webkit-animation: shine .75s;
  animation: shine .75s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
@media (min-width: 75rem) {
  .site-content > .container {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 74.9375rem) {
  .site-content > .container {
    max-width: 60.625rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 61.9375rem) {
  .site-content > .container {
    max-width: 46.875rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 47.9375rem) {
  .site-content > .container {
    max-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 74.9375rem) {
  body .vc-reset-margin-md {
    margin: 0!important;
  }
  body .vc-reset-margin-md .vc_vc_column,
  body .vc-reset-margin-md .vc_column_container {
    margin: 40px 0 20px !important;
  }
  body .vc-reset-margin-md .vc_vc_column .vc_custom_heading h2,
  body .vc-reset-margin-md .vc_column_container .vc_custom_heading h2 {
    font-size: 36px !important;
  }
}


