@font-face {
    font-family: 'supermarket';
    src: url('~/fonts/supermarket-webfont.eot');
    src: url('~/fonts/supermarket-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/supermarket-webfont.woff') format('woff'), url('fonts/supermarket-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.header-lower {
    position: relative;
    z-index: 0;
    padding: 5px 0;
}
.header-upper {
    position: relative;
    z-index: 1;
    border-bottom: 0px solid #ddd;
}
.header1{
    background-color: #202020;
}
.header2{
    background-color: #5d5c5c;
}
.header3 {
    background-color: #ffffff;
}
.header4{
    background-color: #f1f1f1;
}



.box {
    width: 100%;
    margin: 0 auto;
    background-color:#f4f4f4;
    padding:10px;
    text-align:center;
}

.box2 {
    width: 80%;
    margin:0 auto;
    background-color: #d3d2d2;
    padding: 10px;
    border-radius: 5px;
    margin-bottom:20px;
}
.box-left{
    float:left;
    width:70%;
}
.box-right{
    float:right;
    width:30%;
    margin-top: -8%;
}
.box-center{
    width:100%;
}
.box-subject{
    float:left;
    width: 100%;
}
.head{
    float:left;
    width: 8%;
}
.head2{
    float:left;
    width: 92%;
    text-align:left;
    margin-top: 1%;
}
.s1{
    font-size: 1.2em;
    text-align:left;
    margin: 0px;
    padding:0px;
}
.s2{
    font-size: 1em;
    text-align:left;
    margin: 0;
}
.font-li{
    font-size: 16px;   
}