﻿@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}
@section headstart
{
    <link href="@Url.Content("~/Themes/punna/css/styles-punna.css")" rel="stylesheet" />
    <!-- Stylesheet-->
}
@section headend
{
      <link href="@Url.Content("~/Themes/punna/css/settings.css")" rel="stylesheet" />
      <link href="@Url.Content("~/Themes/punna/css/esgrid.css")" rel="stylesheet" />
      <link href="@Url.Content("~/Themes/punna/essential-grid/public/assets/css/settings.css")" rel="stylesheet" />
      <link href="@Url.Content("~/Themes/punna/essential-grid/public/assets/css/lightbox.css")" rel="stylesheet" />
}
@section footscript
{
    <script src="@Url.Content("~/Themes/punna/jquery/jquery.js")"></script>
    <script src="@Url.Content("~/Themes/punna/essential-grid/public/assets/js/jquery.themepunch.tools.min.js")"></script>
    <script src="@Url.Content("~/Themes/punna/essential-grid/public/assets/js/jquery.themepunch.essential.min.js")"></script>
    <script src="@Url.Content("~/Themes/punna/esgrid.js")"></script>
    <!-- Stylesheet-->
}

<div class="page home-page">
    <div class="page-body" style="padding: 15px;">
        <div class="vc_row wpb_row vc_row-fluid vc_custom_1438413577972 pb80">
            <div class="contain-gallery wpb_column vc_column_container vc_col-sm-12">
                <div class="wpb_wrapper">
                    <article class="myportfolio-container minimal-light" id="Grid-Home-Basic">
                        <!-- THE GRID ITSELF WITH FILTERS, PAGINATION, SORTING ETC... -->
                        <div id="esg-grid-9-1" class="esg-grid" style="background-color: transparent;padding: 0px 0px 0px 0px ; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;">
                            <article class="esg-filters esg-singlefilters" style="margin-bottom: 0px; text-align: left; ">
                                <!-- THE FILTERING, SORTING AND WOOCOMMERCE BUTTONS -->
                                <!-- THE FILTER BUTTONS -->
                                <div class="esg-filter-wrapper  esg-fgc-9" style="margin-left: 2.5px; margin-right: 2.5px;">
                                    @Html.Action("HomepageCategories", "Catalog")
                                    @*<div class="esg-filterbutton selected esg-allfilter" data-filter="filterall" data-fid="-1"><span style="letter-spacing:2px;">HIGHLIGHT</span></div>*@
                                    @*<div class="esg-filterbutton selected esg-allfilter" data-filter="filterall" data-fid="-1"><span style="letter-spacing:2px;">HIGHLIGHT</span></div>
                                    <div class="esg-filterbutton" data-fid="15" data-filter="filter-3d"><span style="letter-spacing:2px;">SHOP BY PRICE</span><span class="esg-filter-checked"><i class="eg-icon-ok-1"></i></span></div>
                                    <div class="esg-filterbutton" data-fid="16" data-filter="filter-branding"><span style="letter-spacing:2px;">SHOP BY FLOWER</span><span class="esg-filter-checked"><i class="eg-icon-ok-1"></i></span></div>*@
                                    <div class="eg-clearfix"></div>
                                </div>
                            </article>
                            <div class="esg-clear-no-height"></div>
                            <ul>
                                @Html.Action("HomepageProducts", "Product")
                               
                            </ul>
                            <!-- ############################ -->
                            <!--      END OF THE GRID         -->
                            <!-- ############################ -->
                            <article class="esg-filters esg-singlefilters esg-navbutton-solo-left" style="margin-left: 0px; ">
                                <div class="esg-navigationbutton esg-left  esg-fgc-9" style="margin-left: 0px !important; margin-right: 0px !important; display: none;"><i class="eg-icon-left-open"></i></div>
                            </article>
                            <div class="esg-clear-no-height"></div>
                            <article class="esg-filters esg-singlefilters esg-navbutton-solo-right" style="margin-right: 0px; ">
                                <div class="esg-navigationbutton esg-right  esg-fgc-9" style="margin-left: 0px !important; margin-right: 0px !important; display: none;"><i class="eg-icon-right-open"></i></div>
                            </article>
                            <div class="esg-clear-no-height"></div>
                        </div>
                        <!-- END OF THE GRID -->
                    </article>
                    <!-- END OF THE GRID WRAPPER -->
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        @Html.Widget("home_page_top")
        @Html.Action("TopicBlock", "Topic", new { systemName = "HomePageText" })
        @Html.Widget("home_page_before_categories")
        



        @Html.Widget("home_page_before_products")
        


        @Html.Widget("home_page_before_best_sellers")
        @Html.Action("HomepageBestSellers", "Product")
        @Html.Widget("home_page_before_news")
        @Html.Action("HomePageNews", "News")
        @Html.Widget("home_page_before_poll")
        @Html.Action("HomePagePolls", "Poll")
        @Html.Widget("home_page_bottom")



    </div>
</div>