﻿@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}

<link href="~/punna/Scripts/css/esgrid.css" rel="stylesheet" />
<link href="~/punna/Scripts/css/settings.css" rel="stylesheet" />
<div class="page home-page">
    <div class="page-body">

        <div class="vc_row wpb_row vc_row-fluid vc_custom_1438413577972 pb80">
            <div class="contain-gallery wpb_column vc_column_container vc_col-sm-12">
                <div class="wpb_wrapper">
                    <article class="myportfolio-container minimal-light" id="Grid-Home-Basic">
                        <!-- THE GRID ITSELF WITH FILTERS, PAGINATION, SORTING ETC... -->
                        <div id="esg-grid-9-1" class="esg-grid" style="background-color: transparent;padding: 0px 0px 0px 0px ; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;">
                            <article class="esg-filters esg-singlefilters" style="margin-bottom: 0px; text-align: center; ">
                                <!-- THE FILTERING, SORTING AND WOOCOMMERCE BUTTONS -->
                                <!-- THE FILTER BUTTONS -->
                                <div class="esg-filter-wrapper  esg-fgc-9" style="margin-left: 2.5px; margin-right: 2.5px;">
                                    <div class="esg-filterbutton selected esg-allfilter" data-filter="filterall" data-fid="-1"><span>All</span></div>
                                    <div class="esg-filterbutton" data-fid="15" data-filter="filter-3d"><span>3D</span><span class="esg-filter-checked"><i class="eg-icon-ok-1"></i></span></div>
                                    <div class="esg-filterbutton" data-fid="16" data-filter="filter-branding"><span>Branding</span><span class="esg-filter-checked"><i class="eg-icon-ok-1"></i></span></div>
                                    <div class="esg-filterbutton" data-fid="17" data-filter="filter-prints"><span>Prints</span><span class="esg-filter-checked"><i class="eg-icon-ok-1"></i></span></div>
                                    <div class="esg-filterbutton" data-fid="18" data-filter="filter-web"><span>Web</span><span class="esg-filter-checked"><i class="eg-icon-ok-1"></i></span></div>
                                    <div class="eg-clearfix"></div>
                                </div>
                            </article>
                            <div class="esg-clear-no-height"></div>
                            <ul>
                                <!-- PORTFOLIO ITEM 45 -->
                                <li class="filterall filter-3d filter-art filter-branding filter-photography filter-prints filter-web eg-zebre-gird-common-wrapper eg-post-id-252" data-eg-order01="1">
                                    <!-- THE CONTAINER FOR THE MEDIA AND THE COVER EFFECTS -->
                                    <div class="esg-media-cover-wrapper">
                                        <!-- THE MEDIA OF THE ENTRY -->
                                        <div class="esg-entry-media"><img src="upload/gallery_01.jpg" alt=""></div>
                                        <!-- THE CONTENT OF THE ENTRY -->
                                        <div class="esg-entry-cover">
                                            <!-- THE COLORED OVERLAY -->
                                            <div class="esg-overlay esg-slide eg-zebre-gird-common-container" data-delay="0"></div>
                                            <div class="esg-center eg-post-252 eg-zebre-gird-common-element-0-a esg-falldown" data-delay="0.15"><a class="eg-zebre-gird-common-element-0 eg-post-252 zoom-image" href="upload/gallery_01.jpg" target="_self">PAPER CRANE</a></div>
                                            <div class="esg-center eg-zebre-gird-common-element-1 esg-none esg-clear" style="height: 5px; visibility: hidden;"></div>
                                            <div class="esg-center eg-post-252 eg-zebre-gird-common-element-2 esg-zoomback" data-delay="0.38">anemptytextlline</div>
                                            <div class="esg-center eg-zebre-gird-common-element-3 esg-none esg-clear" style="height: 5px; visibility: hidden;"></div>
                                            <div class="esg-center eg-post-252 eg-zebre-gird-common-element-15 esg-slide" data-delay="0.15">Branding</div>
                                        </div>
                                        <!-- END OF THE CONTENT IN THE ENTRY -->
                                    </div>
                                    <!-- END OF THE CONTAINER FOR THE MEDIA AND COVER/HOVER EFFECTS -->
                                </li>
                                <!-- END OF PORTFOLIO ITEM -->
                                <!-- PORTFOLIO ITEM 45 -->
                                <li class="filterall filter-3d filter-art filter-photography eg-zebre-gird-common-wrapper eg-post-id-251" data-eg-order01="2">
                                    <!-- THE CONTAINER FOR THE MEDIA AND THE COVER EFFECTS -->
                                    <div class="esg-media-cover-wrapper">
                                        <!-- THE MEDIA OF THE ENTRY -->
                                        <div class="esg-entry-media"><img src="upload/gallery_02.jpg" alt=""></div>
                                        <!-- THE CONTENT OF THE ENTRY -->
                                        <div class="esg-entry-cover">
                                            <!-- THE COLORED OVERLAY -->
                                            <div class="esg-overlay esg-slide eg-zebre-gird-common-container" data-delay="0"></div>
                                            <div class="esg-center eg-post-251 eg-zebre-gird-common-element-0-a esg-falldown" data-delay="0.15"><a class="eg-zebre-gird-common-element-0 eg-post-251 zoom-image" href="upload/gallery_02.jpg" target="_self">COMFORT SOFA</a></div>
                                            <div class="esg-center eg-zebre-gird-common-element-1 esg-none esg-clear" style="height: 5px; visibility: hidden;"></div>
                                            <div class="esg-center eg-post-251 eg-zebre-gird-common-element-2 esg-zoomback" data-delay="0.38">anemptytextlline</div>
                                            <div class="esg-center eg-zebre-gird-common-element-3 esg-none esg-clear" style="height: 5px; visibility: hidden;"></div>
                                            <div class="esg-center eg-post-251 eg-zebre-gird-common-element-15 esg-slide" data-delay="0.15">3D</div>
                                        </div>
                                        <!-- END OF THE CONTENT IN THE ENTRY -->
                                    </div>
                                    <!-- END OF THE CONTAINER FOR THE MEDIA AND COVER/HOVER EFFECTS -->
                                </li>
                                <!-- END OF PORTFOLIO ITEM -->
                                <!-- PORTFOLIO ITEM 45 -->
                                <li class="filterall filter-3d filter-art filter-branding filter-photography eg-zebre-gird-common-wrapper eg-post-id-250" data-eg-order01="3">
                                    <!-- THE CONTAINER FOR THE MEDIA AND THE COVER EFFECTS -->
                                    <div class="esg-media-cover-wrapper">
                                        <!-- THE MEDIA OF THE ENTRY -->
                                        <div class="esg-entry-media"><img src="upload/gallery_03.jpg" alt=""></div>
                                        <!-- THE CONTENT OF THE ENTRY -->
                                        <div class="esg-entry-cover">
                                            <!-- THE COLORED OVERLAY -->
                                            <div class="esg-overlay esg-slide eg-zebre-gird-common-container" data-delay="0"></div>
                                            <div class="esg-center eg-post-250 eg-zebre-gird-common-element-0-a esg-falldown" data-delay="0.15"><a class="eg-zebre-gird-common-element-0 eg-post-250 zoom-image" href="upload/gallery_03.jpg" target="_self">HYDRANGEA</a></div>
                                            <div class="esg-center eg-zebre-gird-common-element-1 esg-none esg-clear" style="height: 5px; visibility: hidden;"></div>
                                            <div class="esg-center eg-post-250 eg-zebre-gird-common-element-2 esg-zoomback" data-delay="0.38">anemptytextlline</div>
                                            <div class="esg-center eg-zebre-gird-common-element-3 esg-none esg-clear" style="height: 5px; visibility: hidden;"></div>
                                            <div class="esg-center eg-post-250 eg-zebre-gird-common-element-15 esg-slide" data-delay="0.15">Web</div>
                                        </div>
                                        <!-- END OF THE CONTENT IN THE ENTRY -->
                                    </div>
                                    <!-- END OF THE CONTAINER FOR THE MEDIA AND COVER/HOVER EFFECTS -->
                                </li>
                                <!-- END OF PORTFOLIO ITEM -->
                                <!-- PORTFOLIO ITEM 45 -->
                                <li class="filterall filter-art filter-branding filter-photography filter-prints filter-web eg-zebre-gird-common-wrapper eg-post-id-160" data-eg-order01="4">
                                    <!-- THE CONTAINER FOR THE MEDIA AND THE COVER EFFECTS -->
                                    <div class="esg-media-cover-wrapper">
                                        <!-- THE MEDIA OF THE ENTRY -->
                                        <div class="esg-entry-media"><img src="upload/gallery_05.jpg" alt=""></div>
                                        <!-- THE CONTENT OF THE ENTRY -->
                                        <div class="esg-entry-cover">
                                            <!-- THE COLORED OVERLAY -->
                                            <div class="esg-overlay esg-slide eg-zebre-gird-common-container" data-delay="0"></div>
                                            <div class="esg-center eg-post-160 eg-zebre-gird-common-element-0-a esg-falldown" data-delay="0.15"><a class="eg-zebre-gird-common-element-0 eg-post-160 zoom-image" href="upload/gallery_05.jpg" target="_self">INSPIRATION</a></div>
                                            <div class="esg-center eg-zebre-gird-common-element-1 esg-none esg-clear" style="height: 5px; visibility: hidden;"></div>
                                            <div class="esg-center eg-post-160 eg-zebre-gird-common-element-2 esg-zoomback" data-delay="0.38">anemptytextlline</div>
                                            <div class="esg-center eg-zebre-gird-common-element-3 esg-none esg-clear" style="height: 5px; visibility: hidden;"></div>
                                            <div class="esg-center eg-post-160 eg-zebre-gird-common-element-15 esg-slide" data-delay="0.15">Prints</div>
                                        </div>
                                        <!-- END OF THE CONTENT IN THE ENTRY -->
                                    </div>
                                    <!-- END OF THE CONTAINER FOR THE MEDIA AND COVER/HOVER EFFECTS -->
                                </li>
                                <!-- END OF PORTFOLIO ITEM -->
                                <!-- PORTFOLIO ITEM 45 -->
                                <li class="filterall filter-3d filter-art filter-branding filter-photography eg-zebre-gird-common-wrapper eg-post-id-244" data-eg-order01="5">
                                    <!-- THE CONTAINER FOR THE MEDIA AND THE COVER EFFECTS -->
                                    <div class="esg-media-cover-wrapper">
                                        <!-- THE MEDIA OF THE ENTRY -->
                                        <div class="esg-entry-media"><img src="upload/gallery_04.jpg" alt=""></div>
                                        <!-- THE CONTENT OF THE ENTRY -->
                                        <div class="esg-entry-cover">
                                            <!-- THE COLORED OVERLAY -->
                                            <div class="esg-overlay esg-slide eg-zebre-gird-common-container" data-delay="0"></div>
                                            <div class="esg-center eg-post-244 eg-zebre-gird-common-element-0-a esg-falldown" data-delay="0.15"><a class="eg-zebre-gird-common-element-0 eg-post-244 zoom-image" href="upload/gallery_04.jpg" target="_self">INTERIOR DESIGN</a></div>
                                            <div class="esg-center eg-zebre-gird-common-element-1 esg-none esg-clear" style="height: 5px; visibility: hidden;"></div>
                                            <div class="esg-center eg-post-244 eg-zebre-gird-common-element-2 esg-zoomback" data-delay="0.38">anemptytextlline</div>
                                            <div class="esg-center eg-zebre-gird-common-element-3 esg-none esg-clear" style="height: 5px; visibility: hidden;"></div>
                                            <div class="esg-center eg-post-244 eg-zebre-gird-common-element-15 esg-slide" data-delay="0.15">Prints</div>
                                        </div>
                                        <!-- END OF THE CONTENT IN THE ENTRY -->
                                    </div>
                                    <!-- END OF THE CONTAINER FOR THE MEDIA AND COVER/HOVER EFFECTS -->
                                </li>
                                <!-- END OF PORTFOLIO ITEM -->
                                <!-- PORTFOLIO ITEM 45 -->
                                <li class="filterall filter-art filter-prints filter-web eg-zebre-gird-common-wrapper eg-post-id-400" data-eg-order01="6">
                                    <!-- THE CONTAINER FOR THE MEDIA AND THE COVER EFFECTS -->
                                    <div class="esg-media-cover-wrapper">
                                        <!-- THE MEDIA OF THE ENTRY -->
                                        <div class="esg-entry-media"><img src="upload/gallery_06.jpg" alt=""></div>
                                        <!-- THE CONTENT OF THE ENTRY -->
                                        <div class="esg-entry-cover">
                                            <!-- THE COLORED OVERLAY -->
                                            <div class="esg-overlay esg-slide eg-zebre-gird-common-container" data-delay="0"></div>
                                            <div class="esg-center eg-post-400 eg-zebre-gird-common-element-0-a esg-falldown" data-delay="0.15"><a class="eg-zebre-gird-common-element-0 eg-post-400 zoom-image" href="upload/gallery_06.jpg" target="_self">Graphic</a></div>
                                            <div class="esg-center eg-zebre-gird-common-element-1 esg-none esg-clear" style="height: 5px; visibility: hidden;"></div>
                                            <div class="esg-center eg-post-400 eg-zebre-gird-common-element-2 esg-zoomback" data-delay="0.38">anemptytextlline</div>
                                            <div class="esg-center eg-zebre-gird-common-element-3 esg-none esg-clear" style="height: 5px; visibility: hidden;"></div>
                                            <div class="esg-center eg-post-400 eg-zebre-gird-common-element-15 esg-slide" data-delay="0.15">Web</div>
                                        </div>
                                        <!-- END OF THE CONTENT IN THE ENTRY -->
                                    </div>
                                    <!-- END OF THE CONTAINER FOR THE MEDIA AND COVER/HOVER EFFECTS -->
                                </li>
                                <!-- END OF PORTFOLIO ITEM -->
                                <!-- PORTFOLIO ITEM 45 -->
                                <li class="filterall filter-web eg-zebre-gird-common-wrapper eg-post-id-402" data-eg-order01="7">
                                    <!-- THE CONTAINER FOR THE MEDIA AND THE COVER EFFECTS -->
                                    <div class="esg-media-cover-wrapper">
                                        <!-- THE MEDIA OF THE ENTRY -->
                                        <div class="esg-entry-media"><img src="upload/gallery_08.jpg" alt=""></div>
                                        <!-- THE CONTENT OF THE ENTRY -->
                                        <div class="esg-entry-cover">
                                            <!-- THE COLORED OVERLAY -->
                                            <div class="esg-overlay esg-slide eg-zebre-gird-common-container" data-delay="0"></div>
                                            <div class="esg-center eg-post-402 eg-zebre-gird-common-element-0-a esg-falldown" data-delay="0.15"><a class="eg-zebre-gird-common-element-0 eg-post-402 zoom-image" href="upload/gallery_08.jpg" target="_self">Design</a></div>
                                            <div class="esg-center eg-zebre-gird-common-element-1 esg-none esg-clear" style="height: 5px; visibility: hidden;"></div>
                                            <div class="esg-center eg-post-402 eg-zebre-gird-common-element-2 esg-zoomback" data-delay="0.38">anemptytextlline</div>
                                            <div class="esg-center eg-zebre-gird-common-element-3 esg-none esg-clear" style="height: 5px; visibility: hidden;"></div>
                                            <div class="esg-center eg-post-402 eg-zebre-gird-common-element-15 esg-slide" data-delay="0.15">Web</div>
                                        </div>
                                        <!-- END OF THE CONTENT IN THE ENTRY -->
                                    </div>
                                    <!-- END OF THE CONTAINER FOR THE MEDIA AND COVER/HOVER EFFECTS -->
                                </li>
                                <!-- END OF PORTFOLIO ITEM -->
                                <!-- PORTFOLIO ITEM 45 -->
                                <li class="filterall filter-art filter-branding eg-zebre-gird-common-wrapper eg-post-id-401" data-eg-order01="8">
                                    <!-- THE CONTAINER FOR THE MEDIA AND THE COVER EFFECTS -->
                                    <div class="esg-media-cover-wrapper">
                                        <!-- THE MEDIA OF THE ENTRY -->
                                        <div class="esg-entry-media"><img src="upload/gallery_07.jpg" alt=""></div>
                                        <!-- THE CONTENT OF THE ENTRY -->
                                        <div class="esg-entry-cover">
                                            <!-- THE COLORED OVERLAY -->
                                            <div class="esg-overlay esg-slide eg-zebre-gird-common-container" data-delay="0"></div>
                                            <div class="esg-center eg-post-401 eg-zebre-gird-common-element-0-a esg-falldown" data-delay="0.15"><a class="eg-zebre-gird-common-element-0 eg-post-401 zoom-image" href="upload/gallery_07.jpg" target="_self">Biography</a></div>
                                            <div class="esg-center eg-zebre-gird-common-element-1 esg-none esg-clear" style="height: 5px; visibility: hidden;"></div>
                                            <div class="esg-center eg-post-401 eg-zebre-gird-common-element-2 esg-zoomback" data-delay="0.38">anemptytextlline</div>
                                            <div class="esg-center eg-zebre-gird-common-element-3 esg-none esg-clear" style="height: 5px; visibility: hidden;"></div>
                                            <div class="esg-center eg-post-401 eg-zebre-gird-common-element-15 esg-slide" data-delay="0.15">Web</div>
                                        </div>
                                        <!-- END OF THE CONTENT IN THE ENTRY -->
                                    </div>
                                    <!-- END OF THE CONTAINER FOR THE MEDIA AND COVER/HOVER EFFECTS -->
                                </li>
                                <!-- END OF PORTFOLIO ITEM -->
                                <!-- PORTFOLIO ITEM 45 -->
                                <li class="filterall filter-3d eg-zebre-gird-common-wrapper eg-post-id-403" data-eg-order01="9">
                                    <!-- THE CONTAINER FOR THE MEDIA AND THE COVER EFFECTS -->
                                    <div class="esg-media-cover-wrapper">
                                        <!-- THE MEDIA OF THE ENTRY -->
                                        <div class="esg-entry-media"><img src="upload/gallery_09.jpg" alt=""></div>
                                        <!-- THE CONTENT OF THE ENTRY -->
                                        <div class="esg-entry-cover">
                                            <!-- THE COLORED OVERLAY -->
                                            <div class="esg-overlay esg-slide eg-zebre-gird-common-container" data-delay="0"></div>
                                            <div class="esg-center eg-post-403 eg-zebre-gird-common-element-0-a esg-falldown" data-delay="0.15"><a class="eg-zebre-gird-common-element-0 eg-post-403 zoom-image" href="upload/gallery_09.jpg" target="_self">project </a></div>
                                            <div class="esg-center eg-zebre-gird-common-element-1 esg-none esg-clear" style="height: 5px; visibility: hidden;"></div>
                                            <div class="esg-center eg-post-403 eg-zebre-gird-common-element-2 esg-zoomback" data-delay="0.38">anemptytextlline</div>
                                            <div class="esg-center eg-zebre-gird-common-element-3 esg-none esg-clear" style="height: 5px; visibility: hidden;"></div>
                                            <div class="esg-center eg-post-403 eg-zebre-gird-common-element-15 esg-slide" data-delay="0.15">3D</div>
                                        </div>
                                        <!-- END OF THE CONTENT IN THE ENTRY -->
                                    </div>
                                    <!-- END OF THE CONTAINER FOR THE MEDIA AND COVER/HOVER EFFECTS -->
                                </li>
                                <!-- END OF PORTFOLIO ITEM -->
                                <!-- PORTFOLIO ITEM 45 -->
                                <li class="filterall filter-web eg-zebre-gird-common-wrapper eg-post-id-404" data-eg-order01="11">
                                    <!-- THE CONTAINER FOR THE MEDIA AND THE COVER EFFECTS -->
                                    <div class="esg-media-cover-wrapper">
                                        <!-- THE MEDIA OF THE ENTRY -->
                                        <div class="esg-entry-media"><img src="upload/gallery_10.jpg" alt=""></div>
                                        <!-- THE CONTENT OF THE ENTRY -->
                                        <div class="esg-entry-cover">
                                            <!-- THE COLORED OVERLAY -->
                                            <div class="esg-overlay esg-slide eg-zebre-gird-common-container" data-delay="0"></div>
                                            <div class="esg-center eg-post-404 eg-zebre-gird-common-element-0-a esg-falldown" data-delay="0.15"><a class="eg-zebre-gird-common-element-0 eg-post-404 zoom-image" href="upload/gallery_10.jpg" target="_self">Photography</a></div>
                                            <div class="esg-center eg-zebre-gird-common-element-1 esg-none esg-clear" style="height: 5px; visibility: hidden;"></div>
                                            <div class="esg-center eg-post-404 eg-zebre-gird-common-element-2 esg-zoomback" data-delay="0.38">anemptytextlline</div>
                                            <div class="esg-center eg-zebre-gird-common-element-3 esg-none esg-clear" style="height: 5px; visibility: hidden;"></div>
                                            <div class="esg-center eg-post-404 eg-zebre-gird-common-element-15 esg-slide" data-delay="0.15">Web</div>
                                        </div>
                                        <!-- END OF THE CONTENT IN THE ENTRY -->
                                    </div>
                                    <!-- END OF THE CONTAINER FOR THE MEDIA AND COVER/HOVER EFFECTS -->
                                </li>
                                <!-- END OF PORTFOLIO ITEM -->
                                <!-- PORTFOLIO ITEM 45 -->
                                <li class="filterall filter-3d eg-zebre-gird-common-wrapper eg-post-id-406" data-eg-order01="12">
                                    <!-- THE CONTAINER FOR THE MEDIA AND THE COVER EFFECTS -->
                                    <div class="esg-media-cover-wrapper">
                                        <!-- THE MEDIA OF THE ENTRY -->
                                        <div class="esg-entry-media"><img src="upload/gallery_12.jpg" alt=""></div>
                                        <!-- THE CONTENT OF THE ENTRY -->
                                        <div class="esg-entry-cover">
                                            <!-- THE COLORED OVERLAY -->
                                            <div class="esg-overlay esg-slide eg-zebre-gird-common-container" data-delay="0"></div>
                                            <div class="esg-center eg-post-406 eg-zebre-gird-common-element-0-a esg-falldown" data-delay="0.15"><a class="eg-zebre-gird-common-element-0 eg-post-406 zoom-image" href="upload/gallery_12.jpg" target="_self">Advertising</a></div>
                                            <div class="esg-center eg-zebre-gird-common-element-1 esg-none esg-clear" style="height: 5px; visibility: hidden;"></div>
                                            <div class="esg-center eg-post-406 eg-zebre-gird-common-element-2 esg-zoomback" data-delay="0.38">anemptytextlline</div>
                                            <div class="esg-center eg-zebre-gird-common-element-3 esg-none esg-clear" style="height: 5px; visibility: hidden;"></div>
                                            <div class="esg-center eg-post-406 eg-zebre-gird-common-element-15 esg-slide" data-delay="0.15">3D</div>
                                        </div>
                                        <!-- END OF THE CONTENT IN THE ENTRY -->
                                    </div>
                                    <!-- END OF THE CONTAINER FOR THE MEDIA AND COVER/HOVER EFFECTS -->
                                </li>
                                <!-- END OF PORTFOLIO ITEM -->
                            </ul>
                            <!-- ############################ -->
                            <!--      END OF THE GRID         -->
                            <!-- ############################ -->
                            <article class="esg-filters esg-singlefilters esg-navbutton-solo-left" style="margin-left: 0px; ">
                                <div class="esg-navigationbutton esg-left  esg-fgc-9" style="margin-left: 0px !important; margin-right: 0px !important; display: none;"><i class="eg-icon-left-open"></i></div>
                            </article>
                            <div class="esg-clear-no-height"></div>
                            <article class="esg-filters esg-singlefilters esg-navbutton-solo-right" style="margin-right: 0px; ">
                                <div class="esg-navigationbutton esg-right  esg-fgc-9" style="margin-left: 0px !important; margin-right: 0px !important; display: none;"><i class="eg-icon-right-open"></i></div>
                            </article>
                            <div class="esg-clear-no-height"></div>
                        </div>
                        <!-- END OF THE GRID -->
                    </article>
                    <!-- END OF THE GRID WRAPPER -->
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>

        @Html.Widget("home_page_top")
        @Html.Action("TopicBlock", "Topic", new { systemName = "HomePageText" })
        @Html.Widget("home_page_before_categories")
        @Html.Action("HomepageCategories", "Catalog")
        @Html.Widget("home_page_before_products")
        @Html.Action("HomepageProducts", "Product")
        @Html.Widget("home_page_before_best_sellers")
        @Html.Action("HomepageBestSellers", "Product")
        @Html.Widget("home_page_before_news")
        @Html.Action("HomePageNews", "News")
        @Html.Widget("home_page_before_poll")
        @Html.Action("HomePagePolls", "Poll")
        @Html.Widget("home_page_bottom")

 

    </div>
</div>

<script src="~/punna/Scripts/js/esgrid.js"></script>
<script src="~/punna/Scripts/js/jquery.js"></script>
<script src="~/punna/Scripts/js/jquery.themepunch.essential.min.js"></script>
<script src="~/punna/Scripts/js/jquery.themepunch.tools.min.js"></script>