﻿@model IList<ProductDetailsModel.ProductAttributeModel>
@using Nop.Web.Models.Catalog;
@using Nop.Core.Domain.Catalog;
@using Nop.Core.Domain.Media;
@using Nop.Core.Infrastructure;
@using System.Text;
@using System.Globalization;

@{

    //gobelmo
    //174 Line , Font 175 , Border 176 , Line1 113 , Line2 167 ,ส่งที่วัด 173
    int Line = Model.Where(x => x.ProductAttributeId == 24).Select(x => x.Id).FirstOrDefault();
    int Font = Model.Where(x => x.ProductAttributeId == 25).Select(x => x.Id).FirstOrDefault();
    int Border = Model.Where(x => x.ProductAttributeId == 26).Select(x => x.Id).FirstOrDefault();
    int Message1 = Model.Where(x => x.ProductAttributeId == 13).Select(x => x.Id).FirstOrDefault();
    int Message2 = Model.Where(x => x.ProductAttributeId == 23).Select(x => x.Id).FirstOrDefault();
    int temple = Model.Where(x => x.ProductAttributeId == 33).Select(x => x.Id).FirstOrDefault();
}
@if (Model.Count > 0)
{
    //Gobelmo

        <style>
            .punna-border-01{
                height:100px; background-image:url(@Url.Content("~/Content/punna/label_bg/punna_label_bg_01.png")); border-radius: 14px; background-size:100% 100%;
            }
            .punna-border-02{
                height:100px; background-image:url(@Url.Content("~/Content/punna/label_bg/punna_label_bg_02.png")); border-radius: 14px; background-size:100% 100%;
            }
            .punna-border-03{
                height:100px; background-image:url(@Url.Content("~/Content/punna/label_bg/punna_label_bg_03.png")); border-radius: 14px;  background-size:100% 100%;
            }
            .punna-border-04{
                height:100px; background-image:url(@Url.Content("~/Content/punna/label_bg/punna_label_bg_04.png")); border-radius: 14px; background-size:100% 100%;
            }
            .punna-border-05{
                height:100px; background-image:url(@Url.Content("~/Content/punna/label_bg/punna_label_bg_05.png")); border-radius: 14px; background-size:100% 100%;
            }
            .punna-border-06{
                height:100px; background-image:url(@Url.Content("~/Content/punna/label_bg/punna_label_bg_06.png")); border-radius: 14px; background-size:100% 100%;
            }
            .punna-border-07{
                height:100px; background-image:url(@Url.Content("~/Content/punna/label_bg/punna_label_bg_07.png")); border-radius: 14px; background-size:100% 100%;
            }
            .punna-border-08{
                height:100px; background-image:url(@Url.Content("~/Content/punna/label_bg/punna_label_bg_08.png")); border-radius: 14px; background-size:100% 100%;
            }
            .punna-border-09{
                height:100px; background-image:url(@Url.Content("~/Content/punna/label_bg/punna_label_bg_09.png")); border-radius: 14px; background-size:100% 100%;
            }
            .punna-border-10{
                height:100px; background-image:url(@Url.Content("~/Content/punna/label_bg/punna_label_bg_10.png")); border-radius: 14px; background-size:100% 100%;
            }

            .one-line-line1
            {
                border:none !important;margin-top:30px !important; font-size:20px; text-align:center; height:80px;background: transparent;font-family:THSarabunNew;
            }
            .one-line-line2
            {
                border:none !important;display:none;
            }
            .two-line-line1
            {
                border:none !important;margin-top:20px !important;font-size:20px;text-align:center; height:50px; padding-bottom:0; margin-bottom:0;background: transparent;font-family:THSarabunNew;
            }
            .two-line-line2
            {
                border:none !important;margin-top:-25px !important;font-size:16px;text-align:center; height:25px; padding-top:0; background:transparent;font-family:THSarabunNew;
            }
            

        </style>


    int[] extraAttribute =  { Line, Font, Border, Message2 };

    <div class="attributes">
        <dl>
            @foreach (var attribute in Model)
            {
                if (extraAttribute.Contains(attribute.Id) == false)
                {
                    string controlId = string.Format("product_attribute_{0}", attribute.Id);
                    string textPrompt = !string.IsNullOrEmpty(attribute.TextPrompt) ? attribute.TextPrompt : attribute.Name;
                    <dt id="@string.Format("product_attribute_label_{0}", attribute.Id)" >
                        <label class="text-prompt">
                            @textPrompt
                        </label>
                        @if (attribute.IsRequired)
                        {
                            <span class="required">*</span>
                        }
                        @if (!string.IsNullOrEmpty(attribute.Description))
                        {
                            <div class="attribute-description">
                                @Html.Raw(attribute.Description)
                            </div>
                        }
                    </dt>
                    if (attribute.ProductAttributeId == 13)
                    {
                        <dd id="@string.Format("product_attribute_input_{0}", attribute.Id)">
                            
                            <div style="margin-bottom:10px;" name="punna-label" class="punna-border-01">
                                <input id="line1"  name="product_attribute_@(Message1)" type="text" maxlength="60" class="one-line-line1" placeholder="ข้อความที่ใช้แสดงบนป้ายพวงหรีด บรรทัดที่ 1" />
                                <input id="line2"  name="product_attribute_@(Message2)" type="text" maxlength="80" class="one-line-line2" placeholder="ข้อความที่ใช้แสดงบนป้ายพวงหรีด บรรทัดที่ 2" />
                            </div>
                            <select id="punna-line" name="product_attribute_@(Line)" style="width:20%;margin:0;">
                                <option value="1 บรรทัด">1 บรรทัด</option>
                                <option value="2 บรรทัด">2 บรรทัด</option>
                            </select>
                            <select id="punna-font" name="product_attribute_@(Font)" style="width:35%;margin:0; ">
                                <option value="แบบที่ 1">ฟอนต์แบบที่ 1</option>
                                <option value="แบบที่ 2">ฟอนต์แบบที่ 2</option>
                                <option value="แบบที่ 3">ฟอนต์แบบที่ 3</option>
                                <option value="แบบที่ 4">ฟอนต์แบบที่ 4</option>
                                <option value="แบบที่ 5">ฟอนต์แบบที่ 5</option>
                            </select>
                            <select id="punna-border" name="product_attribute_@(Border)" style="width:35%;margin:0;">
                                <option value="แบบที่ 1">กรอบแบบที่ 1</option>
                                <option value="แบบที่ 2">กรอบแบบที่ 2</option>
                                <option value="แบบที่ 3">กรอบแบบที่ 3</option>
                                <option value="แบบที่ 4">กรอบแบบที่ 4</option>
                                <option value="แบบที่ 5">กรอบแบบที่ 5</option>
                                <option value="แบบที่ 6">กรอบแบบที่ 6</option>
                                <option value="แบบที่ 7">กรอบแบบที่ 7</option>
                                <option value="แบบที่ 8">กรอบแบบที่ 8</option>
                                <option value="แบบที่ 9">กรอบแบบที่ 9</option>
                                <option value="แบบที่ 10">กรอบแบบที่ 10</option>
                            </select>
                        </dd>
                    }
                    else
                    {
                        <dd id="@string.Format("product_attribute_input_{0}", attribute.Id)" >
                        @switch (attribute.AttributeControlType)
                        {
                            case AttributeControlType.DropdownList:
                                {
                                    <select name="@(controlId)" id="@(controlId)">
                                        @if (!attribute.IsRequired)
                                        {
                                            <option value="0">---</option>
                                        }
                                        @foreach (var attributeValue in attribute.Values)
                                        {
                                            var attributeName = String.IsNullOrEmpty(attributeValue.PriceAdjustment) ?
                                                attributeValue.Name :
                                                T("Products.ProductAttributes.PriceAdjustment", attributeValue.Name, attributeValue.PriceAdjustment).Text;
                                            <option selected="@attributeValue.IsPreSelected" value="@attributeValue.Id">@attributeName</option>
                                        }
                                    </select>
                                }
                                break;
                            case AttributeControlType.RadioList:
                                {
                                    <ul class="option-list">
                                        @foreach (var attributeValue in attribute.Values)
                                        {
                                            var attributeName = String.IsNullOrEmpty(attributeValue.PriceAdjustment) ?
                                                attributeValue.Name :
                                                T("Products.ProductAttributes.PriceAdjustment", attributeValue.Name, attributeValue.PriceAdjustment).Text;
                                            <li>
                                                <input id="@(controlId)_@(attributeValue.Id)" type="radio" name="@(controlId)" value="@attributeValue.Id" checked="@attributeValue.IsPreSelected" />
                                                <label for="@(controlId)_@(attributeValue.Id)">@attributeName</label>
                                            </li>
                                        }
                                    </ul>
                                }
                                break;
                            case AttributeControlType.Checkboxes:
                            case AttributeControlType.ReadonlyCheckboxes:
                                {
                                    <ul class="option-list">
                                        @foreach (var attributeValue in attribute.Values)
                                        {
                                            var attributeName = String.IsNullOrEmpty(attributeValue.PriceAdjustment) ?
                                                attributeValue.Name :
                                                T("Products.ProductAttributes.PriceAdjustment", attributeValue.Name, attributeValue.PriceAdjustment).Text;
                                            <li>
                                                <input id="@(controlId)_@(attributeValue.Id)" type="checkbox" name="@(controlId)" value="@attributeValue.Id" checked="@attributeValue.IsPreSelected" @(attribute.AttributeControlType == AttributeControlType.ReadonlyCheckboxes ? Html.Raw(" disabled=\"disabled\"") : null) />
                                                <label for="@(controlId)_@(attributeValue.Id)">@attributeName</label>
                                            </li>
                                        }
                                    </ul>
                                }
                                break;
                            case AttributeControlType.TextBox:
                                {
                                    <input name="@(controlId)" type="text" class="textbox" id="@(controlId)" value="@attribute.DefaultValue" />
                                }
                                break;
                            case AttributeControlType.MultilineTextbox:
                                {
                                    <textarea cols="20" id="@(controlId)" name="@(controlId)">@attribute.DefaultValue</textarea>
                                }
                                break;
                            case AttributeControlType.Datepicker:
                                {
                                    @Html.DatePickerDropDowns(controlId + "_day", controlId + "_month", controlId + "_year", DateTime.Now.Year, DateTime.Now.Year + 1, attribute.SelectedDay, attribute.SelectedMonth, attribute.SelectedYear)
                                }
                                break;
                            case AttributeControlType.FileUpload:
                                {
                                    var downloadService = EngineContext.Current.Resolve<Nop.Services.Media.IDownloadService>();
                                    Download download = null;
                                    if (!String.IsNullOrEmpty(attribute.DefaultValue))
                                    {
                                        download = downloadService.GetDownloadByGuid(new Guid(attribute.DefaultValue));
                                    }

                                    //register CSS and JS
                                    Html.AddCssFileParts("~/Scripts/fineuploader/fineuploader-4.2.2.min.css");
                                    Html.AddScriptParts("~/Scripts/fineuploader/jquery.fineuploader-4.2.2.min.js");

                                    //ex. ['jpg', 'jpeg', 'png', 'gif'] or []
                                    var allowedFileExtensions = string.Join(", ", attribute.AllowedFileExtensions.Select(x => "'" + x.Trim() + "'").ToList());

                                    if (download != null)
                                    {
                                        <input id="@(controlId)" name="@(controlId)" type="hidden" value="@download.DownloadGuid" />
                                    }
                                    else
                                    {
                                        <input id="@(controlId)" name="@(controlId)" type="hidden" />
                                    }

                                    @*fine uploader container*@
                                    <div id="@(controlId)uploader"></div>
                                    @*fine uploader template (keep it synchronized to \Content\fineuploader\templates\default.html)*@
                                    <script type="text/template" id="@(controlId)-qq-template">
                                        <div class="qq-uploader-selector qq-uploader">
                                            <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                                                <span>@T("Common.FileUploader.DropFiles")</span>
                                            </div>
                                            <div class="qq-upload-button-selector qq-upload-button">
                                                <div>@T("Common.FileUploader.Upload")</div>
                                            </div>
                                            <span class="qq-drop-processing-selector qq-drop-processing">
                                                <span>@T("Common.FileUploader.Processing")</span>
                                                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
                                            </span>
                                            <ul class="qq-upload-list-selector qq-upload-list">
                                                <li>
                                                    <div class="qq-progress-bar-container-selector">
                                                        <div class="qq-progress-bar-selector qq-progress-bar"></div>
                                                    </div>
                                                    <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                                                    <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
                                                    <span class="qq-upload-file-selector qq-upload-file"></span>
                                                    <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                                                    <!--Gobelmo-->
                                                    <div id="displayImgUpload"></div>
                                                    <!--Gobelmo-->
                                                    <span class="qq-upload-size-selector qq-upload-size"></span>
                                                    <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">@T("Common.FileUploader.Cancel")</a>
                                                    <a class="qq-upload-retry-selector qq-upload-retry" href="#">@T("Common.FileUploader.Retry")</a>
                                                    <a class="qq-upload-delete-selector qq-upload-delete" href="#">@T("Common.FileUploader.Delete")</a>
                                                    <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </script>
                                    <script type="text/javascript">
                            $(document).ready(function() {
                                $("#@(controlId)uploader").fineUploader({
                                    request: {
                                        endpoint: '@(Url.RouteUrl("UploadFileProductAttribute", new { attributeId = attribute.Id }))'
                                    },
                                    template: "@(controlId)-qq-template",
                                    multiple: false,
                                    validation: {
                                        allowedExtensions: [@Html.Raw(allowedFileExtensions)]
                                    }
                                }).on("complete", function(event, id, name, responseJSON, xhr) {
                                    $("#@(controlId)").val(responseJSON.downloadGuid);
                                    if (responseJSON.success) {
                                        //gobelmo
                                        $('#displayImgUpload').prepend('<img id="theImg" src="'+responseJSON.downloadUrl+'" style="max-width:100%" />');
                                        //gobelmo
                                        $("#@(controlId + "downloadurl")").html("<a href='" + responseJSON.downloadUrl + "'>@T("Common.FileUploader.DownloadUploadedFile")</a>");
                                        $("#@(controlId + "remove")").show();
                                    }
                                    if (responseJSON.message) {
                                        alert(responseJSON.message);
                                    }
                                });

                                $("#@(controlId + "remove")").click(function(e) {
                                    $("#@(controlId + "downloadurl")").html("");
                                    $("#@(controlId)").val('');
                                    $(this).hide();
                                });
                            });
                                    </script>
                                    <div id="@(controlId + "downloadurl")">
                                        @if (download != null)
                                        {
                                            <a href="@(Url.Action("GetFileUpload", "Download", new { downloadId = download.DownloadGuid }))" class="download-uploaded-file">@T("Common.FileUploader.DownloadUploadedFile")</a>
                                        }
                                    </div>
                                    <div>
                                        @if (download != null)
                                        {
                                            <a id="@(controlId + "remove")" class="remove-download-button">@T("Common.FileUploader.RemoveDownload")</a>
                                        }
                                        else
                                        {
                                            <a id="@(controlId + "remove")" class="remove-download-buttonn" style="display: none;">@T("Common.FileUploader.RemoveDownload")</a>
                                        }
                                    </div>

                                }
                                break;
                            case AttributeControlType.ColorSquares:
                                {
                                    <ul class="option-list color-squares" id="color-squares-@(attribute.Id)">
                                        @foreach (var attributeValue in attribute.Values)
                                        {
                                            var attributeName = String.IsNullOrEmpty(attributeValue.PriceAdjustment) ?
                                                attributeValue.Name :
                                                T("Products.ProductAttributes.PriceAdjustment", attributeValue.Name, attributeValue.PriceAdjustment).Text;
                                            <li @(attributeValue.IsPreSelected ? @Html.Raw(" class=\"selected-value\"") : null)>
                                                <label for="@(controlId)_@(attributeValue.Id)">
                                                    <span class="color-container" title="@attributeName">
                                                        <span class="color" style="background-color:@(attributeValue.ColorSquaresRgb);">&nbsp;</span>
                                                    </span>
                                                    <input id="@(controlId)_@(attributeValue.Id)" type="radio" name="@(controlId)" value="@attributeValue.Id" checked="@attributeValue.IsPreSelected" />
                                                    @*uncomment below to display attribute value name*@
                                                    @*<span class="name">@attributeName</span>*@
                                                </label>
                                            </li>
                                        }
                                    </ul>
                                    <script type="text/javascript">
                            $(document).ready(function() {
                                $('.attributes #color-squares-@(attribute.Id)').delegate('input', 'click', function(event) {
                                    $('.attributes #color-squares-@(attribute.Id)').find('li').removeClass('selected-value');
                                    $(this).closest('li').addClass('selected-value');
                                });
                            });
                                    </script>
                                }
                                break;
                        }
                    </dd>
                    }

                }


            }
        </dl>
    </div>
}
@if (Model.Count > 0)
{
    //dynamic update support
    var attributesHaveConditions = Model.Any(x => x.HasCondition);
    var dynamicPriceUpdate = EngineContext.Current.Resolve<CatalogSettings>().AjaxProcessAttributeChange;
    var attributeChangeScriptsBuilder = new StringBuilder();
    var productId = Model.First().ProductId;
    var attributeChangeHandlerFuncName = string.Format("attribute_change_handler_{0}", productId);
    if (dynamicPriceUpdate)
    {
        //generate change event script
        foreach (var attribute in Model)
        {
            string controlId = string.Format("product_attribute_{0}", attribute.Id);
            switch (attribute.AttributeControlType)
            {
                case AttributeControlType.DropdownList:
                    {
                        attributeChangeScriptsBuilder.AppendFormat("$('#{0}').change(function(){{{1}();}});\n", controlId, attributeChangeHandlerFuncName);
                    }
                    break;
                case AttributeControlType.RadioList:
                case AttributeControlType.ColorSquares:
                    {
                        foreach (var attributeValue in attribute.Values)
                        {
                            attributeChangeScriptsBuilder.AppendFormat("$('#{0}_{1}').click(function(){{{2}();}});\n", controlId, attributeValue.Id, attributeChangeHandlerFuncName);
                        }
                    }
                    break;
                case AttributeControlType.Checkboxes:
                case AttributeControlType.ReadonlyCheckboxes:
                    {
                        foreach (var attributeValue in attribute.Values)
                        {
                            attributeChangeScriptsBuilder.AppendFormat("$('#{0}_{1}').click(function(){{{2}();}});\n", controlId, attributeValue.Id, attributeChangeHandlerFuncName);
                        }
                    }
                    break;
                default:
                    break;
            }
        }
        //render scripts
        //almost the same implementation is used in the \Views\Product\_RentalInfo.cshtml file
        <script type="text/javascript">
            function @(attributeChangeHandlerFuncName)() {
                $.ajax({
                    cache: false,
                    url: '@Html.Raw(Url.Action("ProductDetails_AttributeChange", "ShoppingCart", new {productId = productId, validateAttributeConditions = attributesHaveConditions}))',
                    data: $('#product-details-form').serialize(),
                    type: 'post',
                    success: function(data) {
                        if (data.price) {
                            $('.price-value-@productId').text(data.price);
                        }
                        if (data.sku) {
                            $('#sku-@productId').text(data.sku);
                        }
                        if (data.mpn) {
                            $('#mpn-@productId').text(data.mpn);
                        }
                        if (data.gtin) {
                            $('#gtin-@productId').text(data.gtin);
                        }
                        if (data.stockAvailability) {
                            $('#stock-availability-value-@productId').text(data.stockAvailability);
                        }
                        if (data.enabledattributemappingids) {
                            for (var i = 0; i < data.enabledattributemappingids.length; i++) {
                                $('#product_attribute_label_' + data.enabledattributemappingids[i]).show();
                                $('#product_attribute_input_' + data.enabledattributemappingids[i]).show();
                            }
                        }
                        if (data.enabledattributemappingids) {
                            for (var i = 0; i < data.disabledattributemappingids.length; i++) {
                                $('#product_attribute_label_' + data.disabledattributemappingids[i]).hide();
                                $('#product_attribute_input_' + data.disabledattributemappingids[i]).hide();
                            }
                        }
                    }
                });
            }
            $(document).ready(function() {
                @(attributeChangeHandlerFuncName)();
                @Html.Raw(attributeChangeScriptsBuilder.ToString())
            });
        </script>
    }
}
@if (Model.Count > 0)
{
    //attribute picture update
    var pictureAdjustmentTableScripts = new StringBuilder();
    var pictureAttributeScripts = new StringBuilder();
    string pictureAdjustmentTableName = "";
    string pictureAdjustmentFuncName = "";
    string pictureDefaultSizePrefix = "defaultsize";
    string pictureFullSizePrefix = "fullsize";
    var pictureSizes = new [] { pictureDefaultSizePrefix, pictureFullSizePrefix };
    foreach (var attribute in Model)
    {
        string controlId = string.Format("product_attribute_{0}", attribute.Id);

        pictureAdjustmentTableName = string.Format("productAttributeValueAdjustmentTable_{0}", attribute.ProductId);
        pictureAdjustmentFuncName = string.Format("adjustProductAttributeValuePicture_{0}", attribute.ProductId);

        switch (attribute.AttributeControlType)
        {
            case AttributeControlType.DropdownList:
                {
                    pictureAttributeScripts.AppendFormat("$('#{0}').change(function(){{{1}('{2}',{3});}});\n", controlId, pictureAdjustmentFuncName, controlId, attribute.ProductId);

                    foreach (var pictureSize in pictureSizes)
                    {
                        pictureAdjustmentTableScripts.AppendFormat("{0}['{1}_{2}'] = new Array(", pictureAdjustmentTableName, controlId, pictureSize);
                        int numberOfJsArrayItems = 0;
                        if (!attribute.IsRequired)
                        {
                            pictureAdjustmentTableScripts.AppendFormat(CultureInfo.InvariantCulture, "'{0}',", "");
                            numberOfJsArrayItems++;
                        }
                        foreach (var attributeValue in attribute.Values)
                        {
                            var pictureUrl = attributeValue.PictureModel.ImageUrl;
                            if (pictureSize == pictureDefaultSizePrefix)
                            {
                                pictureUrl = attributeValue.PictureModel.ImageUrl;
                            }
                            else if (pictureSize == pictureFullSizePrefix)
                            {
                                pictureUrl = attributeValue.PictureModel.FullSizeImageUrl;
                            }

                            pictureAdjustmentTableScripts.AppendFormat(CultureInfo.InvariantCulture, "'{0}',", pictureUrl);
                            numberOfJsArrayItems++;
                        }
                        //If you create an array with a single numeric parameter, that number is used for specifying the number of elements in this array.
                        //so have a little hack here (we need at least two elements)
                        if (numberOfJsArrayItems == 1)
                        {
                            pictureAdjustmentTableScripts.AppendFormat(CultureInfo.InvariantCulture, "'{0}',", "");
                        }
                        pictureAdjustmentTableScripts.Length -= 1;
                        pictureAdjustmentTableScripts.Append(");\n");
                    }
                }
                break;
            case AttributeControlType.RadioList:
            case AttributeControlType.ColorSquares:
                {
                    foreach (var attributeValue in attribute.Values)
                    {
                        pictureAttributeScripts.AppendFormat("$('#{0}_{1}').click(function(){{{2}('{3}_{4}',{5});}});\n", controlId, attributeValue.Id, pictureAdjustmentFuncName, controlId, attributeValue.Id, attribute.ProductId);
                        foreach (var pictureSize in pictureSizes)
                        {
                            var pictureUrl = attributeValue.PictureModel.ImageUrl;
                            if (pictureSize == pictureDefaultSizePrefix)
                            {
                                pictureUrl = attributeValue.PictureModel.ImageUrl;
                            }
                            else if (pictureSize == pictureFullSizePrefix)
                            {
                                pictureUrl = attributeValue.PictureModel.FullSizeImageUrl;
                            }
                            pictureAdjustmentTableScripts.AppendFormat(CultureInfo.InvariantCulture, "{0}['{1}_{2}_{3}'] = '{4}';\n", pictureAdjustmentTableName, controlId, attributeValue.Id, pictureSize, pictureUrl);
                        }
                    }
                }
                break;
            case AttributeControlType.Checkboxes:
            case AttributeControlType.ReadonlyCheckboxes:
                {
                    foreach (var attributeValue in attribute.Values)
                    {
                        pictureAttributeScripts.AppendFormat("$('#{0}_{1}').click(function(){{{2}('{3}_{4}',{5});}});\n", controlId, attributeValue.Id, pictureAdjustmentFuncName, controlId, attributeValue.Id, attribute.ProductId);
                        foreach (var pictureSize in pictureSizes)
                        {
                            var pictureUrl = attributeValue.PictureModel.ImageUrl;
                            if (pictureSize == pictureDefaultSizePrefix)
                            {
                                pictureUrl = attributeValue.PictureModel.ImageUrl;
                            }
                            else if (pictureSize == pictureFullSizePrefix)
                            {
                                pictureUrl = attributeValue.PictureModel.FullSizeImageUrl;
                            }
                            pictureAdjustmentTableScripts.AppendFormat(CultureInfo.InvariantCulture, "{0}['{1}_{2}_{3}'] = '{4}';\n", pictureAdjustmentTableName, controlId, attributeValue.Id, pictureSize, pictureUrl);
                        }
                    }
                }
                break;
            default:
                break;
        }
    }
    if (!String.IsNullOrEmpty(pictureAttributeScripts.ToString()))
    {
    <script type="text/javascript">
            
        //Picture adjustment table
        var @(pictureAdjustmentTableName) = new Array();
        //Picture adjustment table initialize
        @Html.Raw(pictureAdjustmentTableScripts.ToString())
        //Picture adjustment function
        function @(pictureAdjustmentFuncName)(controlId, productId) {
            var ctrl = $('#' + controlId);
            var pictureDefaultSizeUrl = '';
            var pictureFullSizeUrl = '';
            if((ctrl.is(':radio') && ctrl.is(':checked')) || (ctrl.is(':checkbox') && ctrl.is(':checked'))) {
                pictureDefaultSizeUrl = @(pictureAdjustmentTableName)[controlId + '_@(pictureDefaultSizePrefix)'];
                pictureFullSizeUrl = @(pictureAdjustmentTableName)[controlId + '_@(pictureFullSizePrefix)'];
            } else if(ctrl.is('select')) {
                var idx = $('#' + controlId + " option").index($('#' + controlId + " option:selected"));
                if(idx != -1) {
                    pictureDefaultSizeUrl = @(pictureAdjustmentTableName)[controlId + '_@(pictureDefaultSizePrefix)'][idx];
                    pictureFullSizeUrl = @(pictureAdjustmentTableName)[controlId + '_@(pictureFullSizePrefix)'][idx];
                }
            }
            if (typeof pictureDefaultSizeUrl == 'string' && pictureDefaultSizeUrl != '') {
                $('#main-product-img-' + productId).attr("src", pictureDefaultSizeUrl);
            }
            if (typeof pictureFullSizeUrl == 'string' && pictureFullSizeUrl != '') {
                $('#main-product-img-lightbox-anchor-' + productId).attr("href", pictureFullSizeUrl);
            }
        }
        // Picture attributes handlers
        $(document).ready(function() {
            @Html.Raw(pictureAttributeScripts.ToString())
        });
    </script>
    }


    <script>
        //Gobelmo

            $("#product_attribute_@(temple)").autocomplete({
            source: function(request,response) {
                $.ajax({
                    url: "@Url.Action("TempleList", "PunnaTemple")",
                    type: "POST",
                    dataType: "json",
                    data: { keyword: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.data, value: item.value };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
        $('#punna-line').change( function() {
            switch($(this).val())
            {
                case "1 บรรทัด":
                    {
                        $('#line1').attr('class', 'one-line-line1');
                        $('#line2').attr('class', 'one-line-line2');
                        break;
                    }
                case "2 บรรทัด":
                    {
                        $('#line1').attr('class', 'two-line-line1');
                        $('#line2').attr('class', 'two-line-line2');
                        break;
                    }
            }
        });
        $('#punna-font').change( function() {
            switch($(this).val())
            {
                case "แบบที่ 1":
                    {
                        $('#line1').css("font-family", "THSarabunNew");
                        $('#line2').css("font-family", "THSarabunNew");

                        break;
                    }
                case "แบบที่ 2":
                    {
                        $('#line1').css("font-family", "Charmonman");
                        $('#line2').css("font-family", "Charmonman");

                        break;
                    }
                case "แบบที่ 3":
                    {
                        $('#line1').css("font-family", "SNTAnouvongRegular");
                        $('#line2').css("font-family", "SNTAnouvongRegular");
                        break;
                    }
                case "แบบที่ 4":
                    {
                        $('#line1').css("font-family", "EDNamMool");
                        $('#line2').css("font-family", "EDNamMool");
                        break;
                    }
                case "แบบที่ 5":
                    {
                        $('#line1').css("font-family", "supermarket");
                        $('#line2').css("font-family", "supermarket");
                        break;
                    }
            }
        });
        $('#punna-border').change( function() {
            switch($(this).val())
            {
                case "แบบที่ 1":
                    {
                        $('div[name=punna-label]').attr('class', 'punna-border-01');
                        break;
                    }
                case "แบบที่ 2":
                    {
                        $('div[name=punna-label]').attr('class', 'punna-border-02');
                        break;
                    }
                case "แบบที่ 3":
                    {
                        $('div[name=punna-label]').attr('class', 'punna-border-03');
                        break;
                    }
                case "แบบที่ 4":
                    {
                        $('div[name=punna-label]').attr('class', 'punna-border-04');
                        break;
                    }
                case "แบบที่ 5":
                    {
                        $('div[name=punna-label]').attr('class', 'punna-border-05');
                        break;
                    }
                case "แบบที่ 6":
                    {
                        $('div[name=punna-label]').attr('class', 'punna-border-06');
                        break;
                    }
                case "แบบที่ 7":
                    {
                        $('div[name=punna-label]').attr('class', 'punna-border-07');
                        break;
                    }
                case "แบบที่ 8":
                    {
                        $('div[name=punna-label]').attr('class', 'punna-border-08');
                        break;
                    }
                case "แบบที่ 9":
                    {
                        $('div[name=punna-label]').attr('class', 'punna-border-09');
                        break;
                    }
                case "แบบที่ 10":
                    {
                        $('div[name=punna-label]').attr('class', 'punna-border-10');
                        break;
                    }
            }
        });

    </script>
}