﻿@model IList<ProductOverviewModel>

@using Nop.Web.Models.Catalog;


@using Nop.Core
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Catalog;

@if (Model.Count > 0)
{
    @*<div class="product-grid home-page-product-grid">
        <div class="title">
            <strong>@T("HomePage.Products")</strong>
        </div>
        <div class="item-grid">
            @foreach (var item in Model)
            {
                <div class="item-box">
                    @Html.Partial("_ProductBox", item)
                </div>
            }
        </div>
    </div>*@



//gobelmo
foreach (var item in Model)
{
    //prepare "Add to cart" AJAX link
    string addtocartlink = "";
    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
    var quantity = 1;
    if (item.ProductPrice.ForceRedirectionAfterAddingToCart)
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = item.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = item.ProductPrice.ForceRedirectionAfterAddingToCart });
    }
    else
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = item.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity });
    }

    var addtowishlistlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = item.Id, shoppingCartTypeId = (int)ShoppingCartType.Wishlist, quantity = quantity });
    var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = item.Id });

    <li class="filterall eg-zebre-gird-common-wrapper eg-post-id-402">
        <!-- THE CONTAINER FOR THE MEDIA AND THE COVER EFFECTS -->
        <div class="esg-media-cover-wrapper" onclick="location.href='@Url.RouteUrl("Product", new { SeName = item.SeName })';"
              style="cursor: pointer;font-family:supermarket; font-size:20px;" >
            <!-- THE MEDIA OF THE ENTRY -->
            <div class="esg-entry-media"><img src="@item.DefaultPictureModel.ImageUrl" alt=""></div>
            <!-- THE CONTENT OF THE ENTRY -->
            <div class="esg-entry-cover" onclick="">
                <!-- THE COLORED OVERLAY -->
                <div class="esg-overlay esg-slide eg-zebre-gird-common-container" data-delay="0"></div>
                <div class="esg-center eg-post-402 eg-zebre-gird-common-element-0-a esg-falldown" data-delay="0.15">
                @item.Name</div>
                <div class="esg-center eg-zebre-gird-common-element-1 esg-none esg-clear" style="height: 5px; visibility: hidden;"></div>
                <div class="esg-center eg-post-402 eg-zebre-gird-common-element-2 esg-zoomback" data-delay="0.38">anemptytextlline</div>
                <div class="esg-center eg-zebre-gird-common-element-3 esg-none esg-clear" style="height: 5px; visibility: hidden;"></div>
                <div class="esg-center eg-post-402 eg-zebre-gird-common-element-15 esg-slide" data-delay="0.15"  style="font-size:14px !important;letter-spacing: 1px;">
                    <div style="padding:10px;">
                        @Html.Raw(item.ShortDescription) <br />
                        <br /> ราคา @item.ProductPrice.Price
                    </div>
                </div>
                
            </div>
            <!-- END OF THE CONTENT IN THE ENTRY -->
        </div>
        <!-- END OF THE CONTAINER FOR THE MEDIA AND COVER/HOVER EFFECTS -->
    </li>
        //Html.Partial("_ProductBoxPunna", item);
    }
}