﻿@model ProductOverviewModel
@using Nop.Core
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Catalog;
@{
    //prepare "Add to cart" AJAX link
    string addtocartlink = "";
    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
    var quantity = 1;
    if (Model.ProductPrice.ForceRedirectionAfterAddingToCart)
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = Model.ProductPrice.ForceRedirectionAfterAddingToCart });
    }
    else
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity });
    }

    var addtowishlistlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = (int)ShoppingCartType.Wishlist, quantity = quantity });
    var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = Model.Id });
}



<li class="filterall eg-zebre-gird-common-wrapper eg-post-id-402">
    <!-- THE CONTAINER FOR THE MEDIA AND THE COVER EFFECTS -->
    <div class="esg-media-cover-wrapper">
        <!-- THE MEDIA OF THE ENTRY -->
        <div class="esg-entry-media"><img src="upload/gallery_08.jpg" alt=""></div>
        <!-- THE CONTENT OF THE ENTRY -->
        <div class="esg-entry-cover">
            <!-- THE COLORED OVERLAY -->
            <div class="esg-overlay esg-slide eg-zebre-gird-common-container" data-delay="0"></div>
            <div class="esg-center eg-post-402 eg-zebre-gird-common-element-0-a esg-falldown" data-delay="0.15"><a class="eg-zebre-gird-common-element-0 eg-post-402 zoom-image" href="upload/gallery_08.jpg" target="_self">Design</a></div>
            <div class="esg-center eg-zebre-gird-common-element-1 esg-none esg-clear" style="height: 5px; visibility: hidden;"></div>
            <div class="esg-center eg-post-402 eg-zebre-gird-common-element-2 esg-zoomback" data-delay="0.38">anemptytextlline</div>
            <div class="esg-center eg-zebre-gird-common-element-3 esg-none esg-clear" style="height: 5px; visibility: hidden;"></div>
            <div class="esg-center eg-post-402 eg-zebre-gird-common-element-15 esg-slide" data-delay="0.15">Web</div>
        </div>
        <!-- END OF THE CONTENT IN THE ENTRY -->
    </div>
    <!-- END OF THE CONTAINER FOR THE MEDIA AND COVER/HOVER EFFECTS -->
</li>