﻿@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
@Html.Widget("body_start_html_tag_after")
@Html.Partial("_Notifications")
@Html.Action("JavaScriptDisabledWarning", "Common")
@Html.Partial("OldInternetExplorerWarning")

<section>
    <div class="master-wrapper-page">
        @Html.Action("AdminHeaderLinks", "Common")
        @Html.Partial("Header")
        <script type="text/javascript">
            AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
        </script>
    </div>
</section>
<section class="header3">
    <div class="master-wrapper-page">
        <div class="header-menu">
            @Html.Action("TopMenu", "Catalog")
        </div>
    </div>
</section>
<section class="header4">
    <div class="master-wrapper-page">
        <div class="master-wrapper-content">
            @Html.Widget("content_before")

            @if (IsSectionDefined("Breadcrumb"))
            {
                @RenderSection("Breadcrumb")
            }
            <div class="master-column-wrapper">
                @RenderBody()
            </div>
            @Html.Widget("content_after")
        </div>
    </div>
</section>
<section>
    <div class="master-wrapper-page" style="margin-top: -100px;">
        @Html.Action("Footer", "Common")
    </div>
</section>
    @Html.Action("EuCookieLaw", "Common")
    @Html.Widget("body_end_html_tag_before")

    @section headstart
{
        @if (IsSectionDefined("headstart"))
    {
            @RenderSection("headstart")
        }

    }
    @section headend
{
        @if (IsSectionDefined("headend"))
    {
            @RenderSection("headend")
        }

    }
    @section footscript
{
        @if (IsSectionDefined("footscript"))
    {
            @RenderSection("footscript")
        }
    }
