﻿@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes
@{
    //logo path
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var logoPath = "~/Themes/" + currentThemeName + "/Content/images/logo.png";

    //store name
    var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
}
<section class="header1">
    <div class="master-wrapper-content">
        <div class="header">
            @Html.Widget("header")
        </div>
        <div class="header-upper">
            <div class="header-selectors-wrapper">

                @Html.Action("TaxTypeSelector", "Common")

                @Html.Action("CurrencySelector", "Common")

                @Html.Action("LanguageSelector", "Common")

                @Html.Widget("header_selectors")
            </div>
            <div class="header-links-wrapper">
                @Html.Action("HeaderLinks", "Common") 
                @Html.Action("FlyoutShoppingCart", "ShoppingCart")
            </div>
        </div>
    </div>
</section>
<section class="header2">
    <div class="master-wrapper-content">
      
       
        <div class="header-lower">
            <div class="header-logo">
                <a href="@Url.RouteUrl("HomePage")">
                    <img title="" alt="@storeName" src="@Url.Content(logoPath)">
                </a>
            </div>
            <div class="search-box store-search-box">
                @*@Html.Action("SearchBox", "Catalog")*@
            </div>
        </div>
    </div>

</section>
<div class="header">
    @*@Html.Widget("header")
        <div class="header-upper">
            <div class="header-selectors-wrapper">

                @Html.Action("TaxTypeSelector", "Common")

                @Html.Action("CurrencySelector", "Common")

                @Html.Action("LanguageSelector", "Common")

                @Html.Widget("header_selectors")
            </div>
            <div class="header-links-wrapper">
                @Html.Action("HeaderLinks", "Common")
                @Html.Action("FlyoutShoppingCart", "ShoppingCart")
            </div>
        </div>
        <div class="header-lower">
            <div class="header-logo">
                <a href="@Url.RouteUrl("HomePage")">
                    <img title="" alt="@storeName" src="@Url.Content(logoPath)">
                </a>
            </div>
            <div class="search-box store-search-box">
                @Html.Action("SearchBox", "Catalog")
            </div>
        </div>*@
</div>
