﻿@model TopicListModel
@{    
    //page title
    ViewBag.Title = T("Admin.ContentManagement.Topics").Text;
}
@Html.AntiForgeryToken()
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt="" />
        @T("Admin.ContentManagement.Topics")
    </div>
    <div class="options">
        <a href="@Url.Action("Create")" class="k-button">@T("Admin.Common.AddNew")</a>
    </div>
</div>
<table width="100%">
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.SearchStoreId):
        </td>
        <td class="adminData">
            @Html.DropDownList("SearchStoreId", Model.AvailableStores)
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="button" id="search-topics" class="k-button" value="@T("Admin.Common.Search")" />
        </td>
    </tr>
</table>
<table class="adminContent">
    <tr>
        <td>
            <div id="topics-grid"></div>

            <script>
                $(document).ready(function () {
                    $("#topics-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("List", "Topic"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: additionalData
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            numeric: false,
                            previousNext: false,
                            info: false
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [{
                            field: "Id",
                            title: "ID"
                        }, {
                            field: "Title",
                            title: "Topic Name"
                        }, {
                            field: "SystemName",
                            title: "@T("Admin.ContentManagement.Topics.Fields.SystemName")"
                        }, {
                            field: "IsPasswordProtected",
                            title: "@T("Admin.ContentManagement.Topics.Fields.IsPasswordProtected")",
                            width: 100,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=IsPasswordProtected#.gif" />'
                        }, {
                            field: "IncludeInSitemap",
                            title: "@T("Admin.ContentManagement.Topics.Fields.IncludeInSitemap")",
                            width: 100,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=IncludeInSitemap#.gif" />'
                        }, {
                            field: "IncludeInTopMenu",
                            title: "@T("Admin.ContentManagement.Topics.Fields.IncludeInTopMenu")",
                            width: 100,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=IncludeInTopMenu#.gif" />'
                        }, {
                            field: "IncludeInFooterColumn1",
                            title: "@T("Admin.ContentManagement.Topics.Fields.IncludeInFooterColumn1")",
                            width: 100,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=IncludeInFooterColumn1#.gif" />'
                        }, {
                            field: "IncludeInFooterColumn2",
                            title: "@T("Admin.ContentManagement.Topics.Fields.IncludeInFooterColumn2")",
                            width: 100,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=IncludeInFooterColumn2#.gif" />'
                        }, {
                            field: "IncludeInFooterColumn3",
                            title: "@T("Admin.ContentManagement.Topics.Fields.IncludeInFooterColumn3")",
                            width: 100,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=IncludeInFooterColumn3#.gif" />'
                        }, {
                            field: "DisplayOrder",
                            title: "@T("Admin.ContentManagement.Topics.Fields.DisplayOrder")",
                            width: 100
                        }, {
                            field: "Id",
                            title: "@T("Admin.Common.Edit")",
                            width: 100,
                            template: '<a href="Edit/#=Id#">@T("Admin.Common.Edit")</a>'
                        }]
                    });
                });
            </script>

            <script type="text/javascript">

                $(document).ready(function () {
                    //search button
                    $('#search-topics').click(function () {
                        //search
                        var grid = $('#topics-grid').data('kendoGrid');
                        grid.dataSource.read();
                        return false;
                    });
                });

                function additionalData() {
                    var data = {
                        SearchStoreId: $('#SearchStoreId').val()
                    };
                    addAntiForgeryToken(data);
                    return data;
                }
            </script>
        </td>
    </tr>
</table>
